{{extend 'layout.html'}}
{{
import os
def peekfile(path,file):
    return A(file.replace('\\\\','/'),_href=URL('peek/%s/%s/%s' % (app, path, file)))
def editfile(path,file):
    return A('edit',_class='button editbutton',_href=URL('peek/%s/%s/%s' % (app, path, file)))
def testfile(path,file):
    return A(IMG(_src=URL('static', 'test_icon.png'), _alt=T('test')),_href=URL('test/%s/%s' % (app, file)))
def editlanguagefile(path,file):
    return A('edit',_class='button editbutton',_href=URL('edit_language/%s/%s/%s' % (app, path, file)))
def file_upload_form(location):
    form=FORM(T("upload file:")," ",
              INPUT(_type="file",_name="file")," ",T("and rename it:")," ",
              INPUT(_type="text",_name="filename",requires=IS_NOT_EMPTY),
              INPUT(_type="hidden",_name="location",_value=location),
              INPUT(_type="hidden",_name="sender",_value=URL('design/'+app)),
              INPUT(_type="submit",_value=T("submit")),_action=URL('upload_file'))
    return form
def file_create_form(location):
    form=FORM(T("create file with filename:")," ",
              INPUT(_type="text",_name="filename",requires=IS_NOT_EMPTY),
              INPUT(_type="hidden",_name="location",_value=location),
              INPUT(_type="hidden",_name="sender",_value=URL('design/'+app)),
              INPUT(_type="submit",_value=T("submit")),_action=URL('create_file'))
    return form
def upload_plugin_form(app):
    form=FORM(T("upload plugin file:")," ",
              INPUT(_type="file",_name="pluginfile"),
              INPUT(_type="submit",_value=T("submit")))
    return form
}}
<div class="appcontents">
<h3 class="section">{{=T("Edit application")}} "{{=app}}" {{=A(IMG(_src=URL('static', 'view_icon.gif')),_href=URL(app,'default','index'),_target="_blank")}}</h3>
<div class="right">
<a class="button" href="#" onclick="jQuery('h4').click();return false">{{=T("collapse")}}</a>
<a class="button" href="#models">{{=T("models")}}</a>
<a class="button" href="#controllers">{{=T("controllers")}}</a>
<a class="button" href="#views">{{=T("views")}}</a>
<a class="button" href="#languages">{{=T("languages")}}</a>
<a class="button" href="#static">{{=T("static")}}</a>
<a class="button" href="#modules">{{=T("modules")}}</a>
<a class="button" href="#plugins">{{=T("plugins")}}</a>
</div>
<br/>

<h4 id="models" onclick="collapse('models_inner');">
<img src="{{=URL('static','folder_compo.png')}}"/> {{=T("Models")}}</h4>
<div id="models_inner">
<i>{{=T("the data representation, define database tables and sets")}}</i>

{{if not models:}}{{=T("There are no models")}}{{else:}}
<div class="right">
<a class="button" href="{{=URL(a=app,c='appadmin',f='index')}}">{{=T("database administration")}}</a>
{{if os.access(os.path.join(request.folder,'..',app,'databases','sql.log'),os.R_OK):}}{{=A('sql.log',_class="button",_href=URL('peek/%s/databases/sql.log'%app))}}{{pass}}
</div>
{{pass}}
<ul>
{{for m in models:}}<li>
{{=editfile('models',m)}}
<a href="{{=URL('delete',args=[app,'models',m],vars=dict(sender=request.function+'/'+app))}}">{{=IMG(_src=URL('static', 'delete_icon.png'), _alt=T("delete"))}}</a>
{{=peekfile('models',m)}}
{{if len(defines[m]):}}{{=T("defines tables")}} {{pass}}{{=XML(', '.join([B(table).xml() for table in defines[m]]))}}
</li>{{pass}}
<li>{{=file_create_form('%s/models/' % app)}}</li>
</ul>
</div>

{{
controller_functions=[]
for c in controllers: controller_functions+=[c[:-3]+'/%s.html'%x for x in functions[c]]
}}
<h4 id="controllers" onclick="collapse('controllers_inner');">
<img src="{{=URL('static','folder_compo.png')}}"/> {{=T("Controllers")}}</h4>
<div id="controllers_inner"><i>{{=T("the application logic, each URL path is mapped in one exposed function in the controller")}}</i>
{{if not controllers:}}{{=T("There are no controllers")}}{{else:}}
<div class="right">
<a class="button" href='{{=URL(r=request,c='shell',f='index',args=app)}}'>{{=T("shell")}}</a> 
<a class="button" href='{{=URL('test',args=app)}}'>{{=T("test")}}</a>
<a class="button" href='{{=URL('edit',args=[app,'cron','crontab'])}}'>{{=T("crontab")}}</a>
</div>
{{pass}}
<ul>
{{for c in controllers:}}
  <li>
     {{=editfile('controllers',c)}}
     <a href="{{=URL('delete',args=[app,'controllers',c],vars=dict(sender=request.function+'/'+app))}}">{{=IMG(_src=URL('static', 'delete_icon.png'), _alt=T("delete"))}}</a>
     {{=testfile('controllers',c)}}
     {{=peekfile('controllers',c)}}
     {{if functions[c]:}}{{=T("exposes")}} {{pass}}{{=XML(', '.join([A(f,_href=URL(a=app,c=c[:-3],f=f)).xml() for f in functions[c]]))}}
  </li>
  {{pass}}
  <li>{{=file_create_form('%s/controllers/' % app)}}</li>
</ul>
</div>


<h4 id="views" onclick="collapse('views_inner');">
<img src="{{=URL('static','folder_compo.png')}}"/> {{=T("Views")}}</h4>
<div id="views_inner"><i>{{=T("the presentations layer, views are also known as templates")}}</i>
<div class="right">
<a class="button" href="{{=LAYOUTS_APP}}">{{=T("download layouts")}}</a>
</div>
{{if not views:}}{{=T("There are no views")}}{{pass}}
<ul>
{{for c in views:}}
  <li>
    {{=editfile('views',c)}}
    <a href="{{=URL('delete',args=[app,'views',c],vars=dict(sender=request.function+'/'+app))}}">{{=IMG(_src=URL('static', 'delete_icon.png'), _alt=T("delete"))}}</a>
    {{=peekfile('views',c)}}
    {{if extend.has_key(c):}}{{=T("extends")}} <b>{{=extend[c]}}</b> {{pass}}
    {{if include[c]:}}{{=T("includes")}} {{pass}}{{=XML(', '.join([B(f).xml() for f in include[c]]))}}
  </li>
{{pass}}
<li>{{=file_create_form('%s/views/' % app)}}</li>
</ul>
</div>


<h4 id="languages" onclick="collapse('languages_inner');">
<img src="{{=URL('static','folder_compo.png')}}"/> {{=T("Languages")}}</h4>
<div id="languages_inner"><i>{{=T("translation strings for the application")}}</i>
<div class="right">
{{=A(T('update all languages'),_class="button",_href=URL('update_languages/'+app))}}</div>
{{if not languages:}}{{=T("There are no translators, only default language is supported")}}{{pass}}
<ul>
{{for file in languages:}}<li>
{{=editlanguagefile('languages',file)}}
<a href="{{=URL('delete',args=[app,'languages',file],vars=dict(sender=request.function+'/'+app))}}">{{=IMG(_src=URL('static', 'delete_icon.png'), _alt=T("delete"))}}</a>
{{=peekfile('languages',file)}}
</li>
{{pass}}
<li>{{=file_create_form('%s/languages/' % app)}}{{=T('(something like "it-it")')}}</li>
</ul>
</div>


<h4 id="static" onclick="collapse('static_inner');">
<img src="{{=URL('static','folder_compo.png')}}"/> {{=T("Static files")}}</h4>
<div id="static_inner"><i>{{=T("these files are served without processing, your images go here")}}</i>
{{if not statics:}}{{=T("There are no static files")}}{{pass}}
<ul>
{{
path=[]
for file in statics+['']:
    items=file.split('/')
    file_path=items[:-1]
    filename=items[-1]
    i=0
    while i<max(len(path),len(file_path)):
        if i>=len(path):
            path.append(file_path[i])
            thispath='static__'+'__'.join(path)
}}<li>{{='/'.join(file_path[:i]+[''])}} {{=IMG(_src=URL('static', 'folder_sm.gif'))}} <a href="javascript:collapse('{{=thispath}}');">{{=file_path[i]}}/</a></li><div id="{{=thispath}}" style="display: none;">{{
        elif i>=len(file_path) or path[i]!=file_path[i]:
            file_path=file_path[:i]
            for j in range(len(path)-1,i-1,-1):
}}</div>{{
                pass
            path=path[:i]
            break
        i=i+1
        pass
    if filename:
}}<li>{{=editfile('static',file)}} <a href="{{=URL('delete',args=[app,'static',file],vars=dict(sender=request.function+'/'+app))}}">{{=IMG(_src=URL('static', 'delete_icon.png'), _alt=T("delete"))}}</a> {{='/'.join(file_path[:i]+[''])}}<a href="{{=URL(a=app,c='static',f=file)}}">{{=filename}}</a></li>{{
        pass
    pass
}}
{{pass}}
<li>{{=file_create_form('%s/static/' % app)}}</li>
<li>{{=file_upload_form('%s/static/' % app)}}</li>
</ul>
</div>

<h4 id="modules" onclick="collapse('modules_inner');">
<img src="{{=URL('static','folder_compo.png')}}"/> {{=T("Modules")}}</h4>
<div id="modules_inner"><i>{{=T("additional code for your application")}}</i>
{{if not modules:}}
{{=T("There are no modules")}}
{{pass}}
<ul>
{{for m in modules:}}
<li>
{{=editfile('modules',m)}}
{{if m!='__init__.py':}}<a class="button" href="{{=URL('delete',args=[app,'modules',m],vars=dict(sender=request.function+'/'+app))}}">{{=T("delete")}}</a>{{pass}}
{{=peekfile('modules',m)}}
</li>{{pass}}
<li>{{=file_create_form('%s/modules/' % app)}}</li>
<li>{{=file_upload_form('%s/modules/' % app)}}</li>
</ul>
</div>


<h4 id="plugins" onclick="collapse('plugins_inner');">
<img src="{{=URL('static','folder_compo.png')}}"/> {{=T("Plugins")}}</h4>
<div id="plugins_inner"><i>{{=T("To create a plugin, name a file/folder plugin_[name]")}}</i>
<a class="button" href="{{=PLUGINS_APP}}" target="_blank">{{=T("download plugins")}}</a>
<ul>
{{for plugin in plugins:}}
<li><a class="button editbutton" href="{{=URL('plugin',args=[app,plugin])}}">plugin_{{=plugin}}</a></li>
{{pass}}
<li>{{=upload_plugin_form(app)}}</li>
</ul>
</div>

</div>
