{{extend 'layout.html'}}
{{
import os
def peekfile(path,file):
    return A(file.replace('\\\\','/'),_href=URL('peek', args=(app, path, file)))
def editfile(path,file):
    return A(SPAN(T('edit')),_class='button editbutton',_href=URL('edit', args=(app, path, file)))
def testfile(path,file):
    return A(IMG(_src=URL('static', 'test_icon.png'), _alt=T('test')), _class='icon test',_href=URL('test', args=(app, file)))
def editlanguagefile(path,file):
    return A(SPAN(T('edit')),_class='button editbutton',_href=URL('edit_language', args=(app, path, file))) 
def file_upload_form(location):
    form=FORM(T("upload file:")," ",
              INPUT(_type="file",_name="file")," ",T("and rename it:")," ",
              INPUT(_type="text",_name="filename",requires=IS_NOT_EMPTY),
              INPUT(_type="hidden",_name="location",_value=location),
              INPUT(_type="hidden",_name="sender",_value=URL('design/'+app)),
              INPUT(_type="submit",_value=T("submit")),_action=URL('upload_file'))
    return form
def file_create_form(location):
    form=FORM(T("create file with filename:")," ",
              INPUT(_type="text",_name="filename",requires=IS_NOT_EMPTY),
              INPUT(_type="hidden",_name="location",_value=location),
              INPUT(_type="hidden",_name="sender",_value=URL('design/'+app)),
              INPUT(_type="submit",_value=T("submit")),_action=URL('create_file'))
    return form
def upload_plugin_form(app):
    form=FORM(T("upload plugin file:")," ",
              INPUT(_type="file",_name="pluginfile"),
              INPUT(_type="submit",_value=T("submit")))
    return form
def deletefile(arglist):
  return A(IMG(_src=URL('static', 'delete_icon.png')), _class='icon delete', _href=URL('delete',args=arglist,vars=dict(sender=request.function+'/'+app)))
def component_folder():
  return IMG(_src=URL('static', 'folder_compo.png'))
}}

{{block sectionclass}}plugin{{end}}

<h2>
  {{=T('Plugin "%s" in application', request.args(1))}} "{{=app}}"
</h2>
<div class="right-full controls">
  <a class="button special" href="#" onclick="jQuery('h3').click();return false"><span>{{=T("collapse/expand all")}}</span></a>
  <span class="buttongroup">
  {{=button("#models", T("models"))}}
  {{=button("#controllers", T("controllers"))}}
  {{=button("#views", T("views"))}}
  {{=button("#static", T("static"))}}
  {{=button("#modules", T("modules"))}}
  </span>
  <span class="buttongroup">
  {{=sp_button(URL('design',args=app), T("back"))}}
  {{=sp_button(URL('delete_plugin',args=request.args), T("delete plugin"))}}
  {{=sp_button(URL('pack_plugin',args=request.args), T("pack plugin"))}}
  </span>
</div>

<!-- MODELS -->

<h3 id="models" onclick="collapse('models_inner');" class="component">
  {{=T("Models")}}
</h3>
<div id="models_inner" class="component_contents">
  {{if not models:}}
  <p><strong>{{=T("There are no models")}}</strong></p>
  {{pass}}
  <div class="controls comptools">
  </div>
  <ul>
    {{for m in models:}}
    <li>
    <span class="filetools controls">
      {{=editfile('models',m)}}
      {{=deletefile([app, 'models', m])}}
    </span>
    <span class="file">
      {{=peekfile('models',m)}}
    </span>
    <span class="extras">
      {{if len(defines[m]):}}{{=T("defines tables")}} {{pass}}{{=XML(', '.join([B(table).xml() for table in defines[m]]))}}
    </span>
    </li>
    {{pass}}
  </ul>
  <div class="controls formfield">{{=file_create_form('%s/models/' % app)}}</div>
</div>

<!-- FIND CONTROLLER FUNCTIONS -->
{{
controller_functions=[]
for c in controllers: controller_functions+=[c[:-3]+'/%s.html'%x for x in functions[c]]
}}

<!-- CONTROLLERS -->

<h3 id="controllers" onclick="collapse('controllers_inner');" class="component">
  <img src="{{=URL('static','folder_compo.png')}}"/> {{=T("Controllers")}}
</h3>
<div id="controllers_inner" class="component_contents">
  {{if not controllers:}}
  <p><strong>{{=T("There are no controllers")}}</strong></p>
  {{pass}}
  <div class="controls comptools">
  </div>
  <ul>
    {{for c in controllers:}}
    <li>
    <span class="filetools controls">
      {{=editfile('controllers',c)}}
      {{=deletefile([app,'controllers',c])}}
      {{=testfile('controllers',c)}}
    </span>
    <span class="file">
      {{=peekfile('controllers',c)}}
    </span>
    <span class="extras">
      {{if functions[c]:}}{{=T("exposes")}} {{pass}}{{=XML(', '.join([A(f,_href=URL(a=app,c=c[:-3],f=f)).xml() for f in functions[c]]))}}
    </span>
    </li>
    {{pass}}
  </ul>
  <div class="controls formfield">{{=file_create_form('%s/controllers/' % app)}}</div>
</div>

<!-- VIEWS -->

<h3 id="views" onclick="collapse('views_inner');" class="component">
  {{=component_folder()}} {{=T("Views")}}
</h3>
<div id="views_inner" class="component_contents">
  {{if not views:}}
  <p><strong>{{=T("There are no views")}}</strong></p>
  {{pass}}
  <div class="controls comptools">
  </div>
  <ul>
    {{for c in views:}}
    <li>
      <span class="filetools controls">
      {{=editfile('views',c)}}
      {{=deletefile([app,'views',c])}}
      </span>
      <span class="file">
      {{=peekfile('views',c)}}
      </span>
      <span class="extras">
      {{if extend.has_key(c):}}{{=T("extends")}} <b>{{=extend[c]}}</b> {{pass}}
      {{if include[c]:}}{{=T("includes")}} {{pass}}{{=XML(', '.join([B(f).xml() for f in include[c]]))}}
      </span>
    </li>
    {{pass}}
  </ul>
  <div class="controls formfield">{{=file_create_form('%s/views/' % app)}}</div>
</div>

<!-- STATIC -->

<h3 id="static" onclick="collapse('static_inner');" class="component">
  {{=component_folder()}} {{=T("Static files")}}
</h3>
<div id="static_inner" class="component_contents">
  {{if not statics:}}
  <p><strong>{{=T("There are no static files")}}</strong></p>
  {{pass}}
  <div class="controls comptools">
  </div>
  <ul>
    {{
    path=[]
    for file in statics+['']:
        items=file.split('/')
        file_path=items[:-1]
        filename=items[-1]
        i=0
        while i<max(len(path),len(file_path)):
            if i>=len(path):
                path.append(file_path[i])
                thispath='static__'+'__'.join(path)
    }}<li class="folder"><a class="file" href="javascript:collapse('{{=thispath}}');">{{='/'.join(file_path[:i]+[''])}}{{=file_path[i]}}/</a></li><div id="{{=thispath}}" style="display: none;" class="sublist">{{
            elif i>=len(file_path) or path[i]!=file_path[i]:
                file_path=file_path[:i]
                for j in range(len(path)-1,i-1,-1):
    }}</div>{{
                    pass
                path=path[:i]
                break
            i=i+1
            pass
        if filename:
      }}
      <li>
      <span class="filetools controls">
        {{=editfile('static',file)}} 
        {{=deletefile([app,'static',file])}}
      </span>
      <span class="file">
        {{='/'.join(file_path[:i]+[''])}}{{=A(filename,_href=URL(a=app,c='static',f=file))}}
      </span>
      </li>{{
            pass
        pass
    }}
    {{pass}}
  </ul>
  <div class="controls formfield">{{=file_create_form('%s/static/' % app)}}
  {{=file_upload_form('%s/static/' % app)}}</div>
</div>

<!-- MODULES -->

<h3 id="modules" onclick="collapse('modules_inner');" class="component">
  {{=component_folder()}} {{=T("Modules")}}
</h3>
<div id="modules_inner" class="component_contents">
  {{if not modules:}}
  <p><strong>{{=T("There are no modules")}}</strong></p>
  {{pass}}
  <div class="controls comptools">
  </div>
  <ul>
    {{for m in modules:}}
    <li>
    {{=editfile('modules',m)}}
    {{if m!='__init__.py':}}<a class="button" href="{{=URL('delete',args=[app,'modules',m],vars=dict(sender=request.function+'/'+app))}}">{{=T("delete")}}</a>{{pass}}
    {{=peekfile('modules',m)}}
    </li>
    {{pass}}
  </ul>
  <div class="controls formfield">{{=file_create_form('%s/modules/' % app)}}
  {{=file_upload_form('%s/modules/' % app)}}</div>
</div>


