{{extend 'layout.html'}}
<div class="ticket">
<h3 class="section">Error ticket for "{{=app}}"</h3>
<h4>Ticket {{=ticket}}</h4>
<h5>{{=output}}</h5>
<br />
<h5>{{=T('web2py Version')}}</h5>
<br/>
<strong>{{=myversion}}</strong>
<br /><br />
<h5>Error traceback</h5>
{{=traceback}}

{{if snapshot:}}
{{try:}}
    <h5>Error snapshot</h5>
    <i>Detailed traceback description</i>
    <ul id="snapshot">
      <li><a onclick="collapse('exception_inner');">Exception:</a> {{=snapshot['etype']}}({{=snapshot['evalue']}})
      <div id="exception_inner" style="display: none;">
        <i>{{=T("Exception instance attributes")}}</i>
        <ul>
        {{for k,v in snapshot['exception'].items():}}
            <li>{{="%s: %s" % (k,v) }}</li>
        {{pass}}
        </ul>
      </div></li>
      <li>{{=snapshot['pyver']}}</li>
    </ul>
    {{for i, frame in enumerate(snapshot['frames']):}}
    {{style = (i != len(snapshot['frames'])-1 and 'display: none;' or '')}}
    <h6>File {{="%s in %s at line %s" % (frame['file'], frame['func'], frame['lnum'])}}</h6>
    <a class="button tbbutton" onclick="collapse('{{="%s_code_inner" % i}}');">{{=T("code")}}</a> 
    <a class="button tbbutton" onclick="collapse('{{="%s_args_inner" % i}}');">{{=T("arguments")}}</a> 
    <a class="button tbbutton" onclick="collapse('{{="%s_vars_inner" % i}}');">{{=T("variables")}}</a> 
    <div id="{{="%s_args_inner" % i}}" style="{{=style}}">
    <br/>
    <i>Function argument list: {{=frame['call']}}</i>
    </div>
    <div id="{{="%s_code_inner" % i}}" style="{{=style}}">
    {{if frame['lines']:}}
    {{=CODE('\n'.join([x[1] for x in sorted(frame['lines'].items(),key=lambda x: x[0])]), 
            language='python', link=None, counter=min(frame['lines'].keys()), highlight_line=frame['lnum'])}}
    {{pass}}
    </div>
    <div id="{{="%s_vars_inner" % i}}" style="{{=style}}">
    <ul>
        {{for k,v in frame['dump'].items():}}
            <li>{{="%s: %s" % (k,v) }}</li>
        {{pass}}
    </ul>
    </div>
    {{pass}}

    <button onclick="jQuery('#locals').slideToggle()">locals</button>
    <div class="hidden" id="locals"><h6>locals</h6>{{=BEAUTIFY(snapshot['locals'])}}</div>
    <button onclick="jQuery('#request').slideToggle()">request</button>
    <div class="hidden" id="request"><h6>request</h6>{{=BEAUTIFY(snapshot['request'])}}</div>
    <button onclick="jQuery('#session').slideToggle()">session</button>
    <div class="hidden" id="session"><h6>session</h6>{{=BEAUTIFY(snapshot['session'])}}</div>
    <button onclick="jQuery('#response').slideToggle()">response</button>
    <div class="hidden" id="response"><h6>response</h6>{{=BEAUTIFY(snapshot['response'])}}</div>
    <script>jQuery('.hidden').hide();</script>
{{except Exception, e:}}
    <!-- this should not happen, just in case... (cannot output normal hmtl as we don't know current open tags) -->
    {{import traceback;tb=traceback.format_exc().replace("\n","\\n") }}
    <script language='javascript'>alert("Exception during snapshot rendering: {{=tb}} ");</script>
{{pass}}    
{{pass}}

<br /><br />
<h5>In file: {{=layer}}</h5>
{{=CODE(code,language='python',link='/examples/global/vars/')}}

