
<!-- Mobile only Navigation : starts -->
<nav class="menu hidden-print" id="sm">
    <div class="sm-wrap">
        <a class="brand" href="{{=URL('default','index')}}">{{=APP_NAME}}</a>
        <i class="icon-remove menu-close"></i>
        <ul class="intro-nav">
        {{include "trinity/site-menu.html"}}
        </ul>
    </div>
    <!-- Navigation Trigger Button -->
    <div id="sm-trigger"></div>
</nav>
<!-- Mobile only  Navigation : ends -->



<!-- masthead-section (this nav bar is initially hidden but will be visible only on inner pages) : starts -->
<header id="standard-header" class="standard-header standard-header-top
    {{ if 'site_nav_initially_hidden' in locals() and site_nav_initially_hidden: }}
    initially-hidden
    {{ else: }}
    initially-shown
    {{ pass }}
">

    <div class="container-fluid">
        <div class="row">
            <article class="col-md-4 text-left">
                <a class="brand" href="{{=URL('default','index')}}">{{=APP_NAME}}</a>
                <div class="brand-tagline">When dealers compete, you win.</div>
            </article>
            <article class="col-md-8 text-right">
                <ul class="standard-nav standard-nav-dark-text">
                    {{include "trinity/site-menu.html"}}
                </ul>
            </article>
        </div>
    </div>

</header>
<!-- masthead-section:ends -->
