<!-- Footer : starts -->
<footer id="mastfoot" class="mastfoot color-bg">

    <!-- inner-section:starts -->
    <section id="standard-footer" class="inner-section social-wrap">
        <div class="container-fluid">
            <div class="row">
                <article class="col-md-3 col-md-offset-1 text-left foot-logo">
                    <a class="brand" href="{{=URL('index', anchor='intro')}}">{{=APP_NAME}}</a>
                    <span>When dealers compete, you win.</span>
                </article>
                <article class="col-md-4 text-center footer-nav">
                    <ul class="">
                        <li><a href="{{=URL('about')}}">About</a></li>
                        <li><a href="{{=URL('careers')}}">Careers</a></li>
                        <li><a href="{{=URL('faq')}}">Help / FAQ</a></li>
                        <li><a href="{{=URL('contact')}}">Contact us</a></li>
                        <li><a href="{{=URL('sitemap')}}">Sitemap</a></li>
                    </ul>
                </article>
                <article class="col-md-3 text-right">
                    <ul class="foot-social">
                        <li><a href="#"><img alt="trinity" title="trinity" src="{{=URL('static','trinity/assets/images/social/01.png')}}"/></a></li>
                        <li><a href="#"><img alt="trinity" title="trinity" src="{{=URL('static','trinity/assets/images/social/03.png')}}"/></a></li>
                    </ul>
                    <p class="credits">Copyright &copy; 2014 {{=APP_NAME}}</p>
                </article>
            </div>
        </div>
    </section>
    <!-- inner-section:ends -->

</footer>
<!-- Footer : ends -->
