<!-- Footer : starts -->
<footer id="mastfoot" class="mastfoot color-bg">

    <!-- inner-section:starts -->
    <section class="inner-section social-wrap">
        <div class="container">
            <div class="row">
                <article class="col-md-3 text-left foot-logo">
                    <a class="brand" href="index.html">{{=APP_NAME}}</a>
                </article>
                <article class="col-md-6 text-center footer-nav">
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Help / FAQ</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Sitemap</a></li>
                    </ul>
                </article>
                <article class="col-md-3 text-right">
                    <ul class="foot-social">
                        <li><a href="#"><img alt="trinity" title="trinity" src="{{=URL('static','trinity/assets/images/social/01.png')}}"/></a></li>
                        <li><a href="#"><img alt="trinity" title="trinity" src="{{=URL('static','trinity/assets/images/social/03.png')}}"/></a></li>
                    </ul>
                    <p class="credits">Copyright &copy; 2014 {{=APP_NAME}}</p>
                </article>
            </div>
        </div>
    </section>
    <!-- inner-section:ends -->

</footer>
<!-- Footer : ends -->
