.hero-unit, .footer{
    background-color: rgba(255, 255, 255, 0.9); // use rgba and set Opacity to 0 for transparent.
 }
 
 .footer{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;	
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
 }