{{extend 'page_layout_new.html'}}

<h3><i class="fa fa-fw fa-btc"></i> Credits remaining: <span class="{{if my_credits < 10:}}text-danger{{elif my_credits < 100:}}text-warning{{else:}}text-success{{pass}}">{{=my_credits}}</span><div class="pull-right"><img class="img-responsive" src="{{=URL('static', 'images/paypal-secure-payments.png')}}"/></div></h3>
<hr>
<h3>&nbsp;</h3>
<a href="{{=buy_credits_urls['tier_1']}}">
	<div class=" col-md-3 col-sm-6">
		<div class="buy_buttons panel panel-default text-center">
			<div class="panel-body">
				Purchase
				<h3 style="font-size: 36px">200</h3>
				Credits	for <strong>$200</strong>
			</div>
			<div class="panel-footer">
				$1 / credit. Good to try!
			</div>
		</div>
	</div>
</a>

<a href="{{=buy_credits_urls['tier_2']}}">
	<div class=" col-md-3 col-sm-6">
		<div class="buy_buttons panel panel-default text-center">
			<div class="panel-body">
				Purchase
				<h3 style="font-size: 36px">400</h3>
				Credits	for <strong>$300</strong>
			</div>
			<div class="panel-footer">
				$0.75 / credit. Great deal.
			</div>
		</div>
	</div>
</a>

<a href="{{=buy_credits_urls['tier_3']}}">
	<div class=" col-md-3 col-sm-6">
		<div class="buy_buttons panel panel-default text-center">
			<div class="panel-body">
				Purchase
				<h3 style="font-size: 36px">1200</h3>
				Credits	for <strong>$600</strong>
			</div>
			<div class="panel-footer">
				$0.50 / credit. Popular.
			</div>		
		</div>
</div>
</a>

<a href="{{=buy_credits_urls['tier_4']}}">
	<div class=" col-md-3 col-sm-6">
		<div class="buy_buttons panel panel-default text-center">
			<div class="panel-body">
				Purchase
				<h3 style="font-size: 36px">4800</h3>
				Credits	for <strong>$1200</strong>
			</div>
			<div class="panel-footer">
				$0.25 / credit. Best Value!
			</div>		
		</div>
	</div>
</a>
<h4>&nbsp;</h4>
{{"""}}<div class="row"><div class="col-xs-4 col-xs-offset-4"><img class="img-responsive" src="{{=URL('static', 'images/paypal-secure-payments.png')}}"/></div></div>{{"""}}

<h3><i class="fa fa-fw fa-clock-o"></i> Credits history</h3>
<hr>

{{=my_credits_history_grid}}

<script>
	$( ".buy_buttons" ).hover(
		function() {
			$(this).removeClass('panel-default', 100);
			$(this).addClass('panel-primary', 150);				
		}, function() {
			$(this).removeClass('panel-primary', 100);
			$(this).addClass('panel-default', 150);
		}
	).click(function(){
		$(this).removeClass('buy_buttons', 100);
		$(this).addClass('panel-danger', 150);
		{{loading_modal_jquery("Contacting Paypal")}}
	});
</script>