{{#limit = 10}} {{# ZAKI change this value to the limit number of reviews you want}}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators" style="position:absolute;top:0px;">
	{{counter = 0}}
	{{for each_review in reviews:}}
		<li data-target="#carousel-example-generic" data-slide-to="{{=counter}}" {{if not counter:}}class="active"{{pass}}></li>
		{{counter+=1}}
	{{pass}}
	</ol>
	<!-- Wrapper for slides -->
	<div class="carousel-inner">
	{{counter=0}}
	{{for each_review in reviews:}}
		<div class="item {{if not counter:}}active{{pass}}">
			<div id="review_{{counter}}" class="review">
				<div>
					<p>{{#implements half and full stars}}
						{{integer_and_decimal=map(lambda number: int(number), str(float(each_review['averageRating'])).split('.'))}} {{#make sure always float before split}}
						{{integer = integer_and_decimal[0]}}{{decimal = integer_and_decimal[1]}}
						{{for each in range(integer) :}}
							<i class="fa fa-star"></i>&nbsp;
						{{pass}}
						{{if decimal >= 375 and decimal < 875 :}}
							<i class="fa fa-star-half"></i>&nbsp;
						{{elif decimal >= 875:}}
							<i class="fa fa-star"></i>
						{{pass}}
					</p>
					<h5>{{=each_review['title']}} by <i>{{=each_review['author']['authorName']}}</i><h5>
				</div>
				<div>
					<p>
						{{=each_review['text']}}
					</p>
				</div>
			</div>
		</div>
		{{counter+=1}}
	{{pass}}
	{{if not reviews:}}
		<div class="item active">
			<div id="review_0" class="review">
				<div class="span12">
					<h4>No reviews found!</h4>
				</div>
			</div>
		</div>
	{{pass}}
	</div>
</div>
<script>
	$('#carousel-example-generic').carousel();
</script>