
{{for each_stat in stats:}}
<div class="row" style="padding-bottom: 10px;">
	<div class="col-xs-7">
		<h3>{{=stats[each_stat][0]}}</h3>
	</div>
	<div class="col-xs-5">
		<h3>
			{{if each_stat == 'savings':}}
                <span style="color: green">{{=stats[each_stat][1]}}</span>
			{{elif each_stat == 'estimate':}}
					{{=stats[each_stat][1]}} <i class="fa fa-question-circle" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Based on base MSRP and average percent discount saved by actual {{=APP_NAME}} users."></i>
			{{else:}}
				{{=stats[each_stat][1]}}
			{{pass}}
		</h3>
	</div>
</div>
{{pass}}

<div class="row" style="padding: 10px 0;">
    <div class="col-xs-12">
        {{for each_stat in details:}}
            {{if each_stat == 'colors':}}
                Interior:

                    {{for each_swatch in details[each_stat][1]:}}
                    {{if each_swatch[4] == 'interior':}}
                    <i class="fa fa-square" rel="tooltip" style="color:#{{=each_swatch[2]}}; text-shadow : -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; padding-right:4px;" data-toggle="tooltip" data-placement="bottom" title="{{=each_swatch[1]}}"></i>
                    {{pass}}
                    {{pass}}

                Exterior:

                    {{for each_swatch in details[each_stat][1]:}}
                    {{if each_swatch[4] == 'exterior':}}
                    <i class="fa fa-square" rel="tooltip" style="color:#{{=each_swatch[2]}}; text-shadow : -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; padding-right:4px;" data-toggle="tooltip" data-placement="bottom" title="{{=each_swatch[1]}}"></i>
                    {{pass}}
                    {{pass}}

            {{else:}}
                {{=details[each_stat][0]}}: {{=details[each_stat][1]}};
            {{pass}}
        {{pass}}
    </div>
</div>

<script>
	$("[data-toggle=tooltip]").tooltip({container: 'body'});
</script>{{#http://goo.gl/mcwC7O http://goo.gl/2TRR1R}}