<div class="row">
	{{counter = 0}}
	{{for each_model in make_details["models"]:}}
		<div class="col-xs-4" style="text-align:center">
			<div style="padding-top:6px;padding-bottom:7px;">
				<a href="{{=URL('init','default','request_by_make',args=[year, request.args[0], each_model['niceName'] ] ) }}">
					<img class="img-responsive img-thumbnail" src="{{=make_photos[each_model['niceName']] }}"><br><strong>{{=each_model['name']}}</strong>
				</a>
			</div>
		</div>
		
		{{counter += 1}}
		
		{{if counter % 3 == 0:}}
			<div style="clear:both"></div>
		{{pass}}

		
	{{pass}}

</div>
