<form class="form-horizontal" role="form">
	<div class="form-group">
		<label for="auction_id" class="col-sm-2 control-label">Auction ID:</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="auction_id" name="auction_id" placeholder="Auction ID">
		</div>
	</div>
	<div class="form-group">
		<label for="auction_vcode" class="col-sm-2 control-label">Auction Verifivation Code:</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="auction_vcode" name="auction_vcode" placeholder="k9j64dh0">
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">Connect!</button>
		</div>
	</div>
</form>	