{{if request.function in ['dealership_form', 'dealer_info', 'pre_auction']:}}
	<script src="{{=URL('static','js/jquery.maskedinput.min.js')}}"  type="text/javascript"></script>{{#http://bit.ly/1ck85cy}}
{{pass}}
{{if request.function in ['request_by_make']:}}
	<script src="{{=URL('static','js/imagesloaded.pkgd.min.js')}}"  type="text/javascript"></script> {{#http://goo.gl/edQvam}}
{{pass}}
{{if request.function in ['request_by_make', 'pre_auction']:}}
	<link rel="stylesheet" type="text/css" href="{{=URL('static','css/multi-select.css')}}"> {{#http://bit.ly/OOENrP}}
	<script src="{{=URL('static','js/jquery.multi-select.js')}}"  type="text/javascript"></script>
{{pass}}
{{if request.function in ['dealership_form', 'dealer_info', 'user']:}}
	<script type="text/javascript" src="{{=URL('static','js/bootstrap-multiselect.js')}}"></script> {{#http://goo.gl/dh1z2}}
	<link rel="stylesheet" href="{{=URL('static','css/bootstrap-multiselect.css')}}" type="text/css"/>
{{pass}}
{{if request.function in ['auction_requests']:}}
	<script src="{{=URL('static','js/jcfilter.min.js')}}"  type="text/javascript"></script>{{#http://goo.gl/LYpoNj}}
{{pass}}

{{if request.function in ['auction']:}}
	<link rel="stylesheet" type="text/css" href="{{=URL('static','css/jquery.cssemoticons.css')}}"> {{#http://goo.gl/OsAit7}}
	<script src="{{=URL('static','js/jquery.cssemoticons.min.js')}}"  type="text/javascript"></script>
	<script src="{{=URL('static','js/jquery-blink.js')}}"  type="text/javascript"></script>
{{pass}}

<script src="{{=URL('static','js/bootbox.min.js')}}"  type="text/javascript"></script>

<link rel="stylesheet" href="{{=URL('static', 'css/_custom.css')}}" type="text/css" />

{{if request.controller in ["admin", "appadmin", "billing"]:}}{{#use default forms for now}}
	{{include "web2py_ajax.html"}}
	<script type="text/javascript" src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script> {{#http://goo.gl/cPFP9a}}
	{{"""}}<script type="text/javascript" src="{{=URL('static','js/web2py.js')}}"></script>{{"""}}{{#not needed it web2py_ajax}}
	<link rel="stylesheet" href="{{=URL('static','css/web2py.css')}}" type="text/css"/>
	{{"""}}<link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3.css')}}" type="text/css"/>{{"""}}{{#messes up navbar}}
	<style type="text/css">
		.web2py_counter {color:red;} {{#make error message red}}
	</style>
	{{#hidden class in bootstrap.min.css has !important declaration which prevents changes to those classes via jquery or css overrides! This causes some problems with the admin page, especially in sqlform.grid}}
	<script type="text/javascript"> 
		$(document).ready(function(){
			$(".w2p_query_row").removeClass("hidden");
		});
	</script>
{{pass}}