{{extend 'page_layout.html'}}

<h3><i class="fa fa-fw fa-gavel"></i>{{=heading}}</h3><hr>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Your request</th>
			<th>Colors</th>
			<th>Latest bid</th>
			<th>Ends in <i class="fa fa-fw fa-info-circle" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Includes 24 hour winner selection period."></i></th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		{{for each_request in my_auctions:}}
			<tr>
				<td>
					<div>{{=each_request['year']}} {{=each_request['make_name']}} {{=each_request['model_name']}}</div>
					<div class="text-sm text-light">{{=each_request['trim_name']}}</div>
				</td>
				<td>
					<div style="width:75px;">
						{{for each_pair in each_request['exterior_color_names_and_codes']:}}
							<i class="fa fa-square" rel="tooltip" style="color:#{{=each_pair[1]}}; text-shadow : -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; padding-right:4px;" data-toggle="tooltip" data-placement="bottom" title="{{=each_pair[0]}}"></i>{{#add border so that whites can show}} {{#http://goo.gl/2j2bP}} {{#http://goo.gl/R9EI3h}}
						{{pass}}
					</div>
				</td>
				<td>
					{{=each_request['last_bid_price']}}{{if each_request['has_unread_messages']:}} <i class="fa fa-fw fa-envelope" rel="tooltip" data-toggle="tooltip" data-placement="top" title="You have unread messages."></i>{{pass}}
					<div  class="text-sm text-light">
						{{if each_request['last_bid_time']:}}
							{{=each_request['last_bid_time']}} ago
						{{else:}}
							Awaiting
						{{pass}}
					</div>
				</td>
				<td>
					<div style="width:125px;">{{if each_request['ends_in_human']:}}{{=each_request['ends_in_human']}}{{else:}}Auction ended{{pass}}</div>
					{{if each_request['how_auction_ended']:}}<div class="text-sm text-light">{{=each_request['how_auction_ended']}}</div>{{pass}}
					{{"""}}<div class="text-sm text-light">{{=each_request['offer_expires']}}</div>{{"""}}
				</td>
				<td> 
					<a class="btn btn-default" href="{{=each_request['auction_url']}}">View auction<i class="fa fa-fw fa-arrow-right"></i></a> 
				</td>

			</tr>

			<tr>
				<td colspan="5">
					
				</td>
			</tr>
		{{pass}}
	</tbody>
</table>