<div class="btn-group">
    <a id="make_dropdown" class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">
        <strong><i class="fa fa-fw fa-caret-square-o-down"></i>
            {{if request.args(0) and int(request.args[0]) in YEAR_RANGE: }}
            {{year=request.args[0]}}
            {{=year}} model year
            {{else:}}
            {{year=datetime.date.today().year}}
            {{=year}} model year
            {{pass}}
        </strong>
    </a>
    <ul class="dropdown-menu">
        {{for each in YEAR_RANGE:}}
        <li><a id="{{=str(each)+'_year'}}" href="{{=URL(args=[each])}}">
            <i class="fa fa-fw fa-chevron-circle-right"></i>{{=each}} model year</a></li>
        {{pass}}
    </ul>
</div>
