{{extend 'page_layout.html'}}

<div id="brands_selection">

    <div class="row">
        <div class="col-md-9">
            <h1>Choose your new car</h1>
        </div>
        <div id="model-year-selection" class="col-md-3">
            {{include "default/car_chooser_select_year.html"}}
        </div>
    </div>

    <div id="small_screen_only_back_to_makes" class="row text-center small-slogan visible-xs">
        <button id="reset_mainbox" class="btn btn-info" href="javascript:void(0);" onclick="reset_mainbox()">Reset
        </button>
    </div>

    <div class="clearfix">&nbsp;</div>

    {{include "default/car_chooser_select_make_model.html"}}

</div>


{{block page_scripts}}
    {{include "default/car_chooser_script.html"}}
{{end}}
