{{extend 'page_layout.html'}}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>

<style type="text/css">
	
	h1{
		font-size: 32px;
		color: #fff;
		text-align:left;
		font-family: Impact;
		}
		
	.content{
		background:none;
		margin-bottom: 1.7em;
		margin-top:.5em;
		}
	.question{
		font-weight: bold;
		}
</style>

<p class="title">
	<h1>Frequently Asked Questions</h1>
</p>

<!--<p style= "font-size:17px">Below are the most frequently asked questions</p>-->
<br>

<ul>
	<li>
	
	<a href="#" class="question" id="question1">What is {{=APP_NAME}}?</a>


<div class="answer">
	<p class="content">
	{{=APP_NAME}} is the best way to buy your new car.  Its a true reverse-auction marketplace.  
	No e-mails, or phone calls from dealers.  No more driving to several dealerships until 
	you find the right price. Once you have done your research, simply pick the car 
	of your choice, and we will contact our dealer network notifying them that you are ready to buy. 
	The dealers will then compete with each other over a 48-hour period. 
	As they compete, watch prices decrease.  When the auction is done, simply select your 
	favorite offer, and we will connect you to that dealer!  If you're not sure on an exact model, 
	you can pick up to three model to enter into an auction.
		</p>
	</div>
</li>
	<li>		
	<a href="#" class="question" id="question1">Why is {{=APP_NAME}} the best way to buy a new car?</a>

<div class="answer">
	<p class="content">
	We believe there are many problems with the current state of the car-buying process. 
	 Nobody has the time or patience to drive to several dealerships to compare prices 
	 from multiple dealers.  Many people feel hassled or pressured during the car buying 
	 process.  At {{=APP_NAME}}, you remain 100% anonymous until you select your winning dealer—so 
	 its 100% hassle free.  The reverse-auction bidding process provides price transparency.  
	 Since dealers are competing for your business, and can see each others bids, you end up 
	 getting the best possible price for your new car.
		</p>
	</div>
</li>

	<li>		
	<a href="#" class="question" id="question1">Does it cost any money to join?</a>

<div class="answer">
	<p class="content">
	{{=APP_NAME}} is 100% free for the customer.  To ensure that you are a serious buyer, 
	we will ask you to fill out a user profile—a small price to pay for the thousands of 
	dollars that you will save in the reverse-auction!  
		</p>
	</div>
</li>

	<li>		
	<a href="#" class="question" id="question1">Do dealers see each others bids?</a>

<div class="answer">
	<p class="content">
	Yes, this ensures that they are in a competitive auction, and prices decrease over time.
		</p>
	</div>
</li>

	<li>		
	<a href="#" class="question" id="question1">Are dealers providing me with the final “drive away” price?</a>

<div class="answer">
	<p class="content">
	The price you see in the auction, is the price you pay at the dealer in addition to fees.  There is no obligation to buy.
		</p>
	</div>
</li>

	<li>		
	<a href="#" class="question" id="question1">How long do I have to decide on which bid I like?</a>

<div class="answer">
	<p class="content">
	Once the auction ends.  You have 48 hours to decide which dealer bid you like best.  After 48 hours, the bids are null.
		</p>
	</div>
</li>

	<li>		
	<a href="#" class="question" id="question1">I accepted a bid, whats next?</a>

<div class="answer">
	<p class="content">
	We will provide you your winning voucher and the contact information of the winning dealer. You have 48 hours to contact the dealer and lock in the winning bid price.  No bait and switch from our dealer network—and no obligation to buy.
		</p>
	</div>
</li>

	<li>		
	<a href="#" class="question" id="question1">Am I obligated to buy the car I select?</a>

<div class="answer">
	<p class="content">
	No.
		</p>
	</div>
</li>

<li>		
	<a href="#" class="question" id="question1">Will the dealer see my email information?</a>

<div class="answer">
	<p class="content">
	After you select a winning dealer, we will give that dealer your contact information so they can help you finalize the deal.
		</p>
	</div>
</li>

<li>		
	<a href="#" class="question" id="question1">Why do I need to contact the winning dealer after the auction ends?</a>

<div class="answer">
	<p class="content">
	Because buying a car is a big deal for almost everyone, and involves signing finance, trade-in, and registration papers, it is still necessary to sign all paperwork in person at the dealership.  Just print out your auction receipt, set up a pick up date with that dealer, and you’ll be signing the final papers within days of the auction.
		</p>
	</div>
</li>

<li>		
	<a href="#" class="question" id="question1">Can I trade-in?</a>

<div class="answer">
	<p class="content">
	Yes.  The value of your trade-in vehicle will be calculated after the auction, at the winning dealership—and deducting from the winning bid price to compute your final price.
		</p>
	</div>
</li>

<li>		
	<a href="#" class="question" id="question1">What if I need financing?</a>

<div class="answer">
	<p class="content">
	You can still use {{=APP_NAME}}!  The winning dealer will work with you on the details of financing your new car. 
		</p>
	</div>
</li>

<li>		
	<a href="#" class="question" id="question1">How many cars have you sold?</a>

<div class="answer">
	<p class="content">
	Zero, {{=APP_NAME}} does not sell cars.  We connect users who are ready to buy a car, with a network of dealers, in a hassle-free environment.
		</p>
	</div>
</li>