{{extend 'layout.html'}}
    <section id="feature_slider" style="background-image: url(http://i.imgur.com/IKOzzNH.jpg); background-position: center;">
        <article class="slide active" id="showcasing" style="display: block;">


        <style type="text/css">

            .part-2 {
                height: 440px;
            }

            .part-2-1, .part-2-3 {
                background: rgba(0, 0, 0, 0.4);
                height: 100%;
            }

            .part-2-2 {
                height:100%;
                display: table-cell;
                vertical-align: middle;
            }
            .part-2-2  h2{
                margin-top: -10px;
                margin-left: 80px;
                margin-right: 30px;
                color: #fff;
                font-size: 30px;
                text-shadow: 1.3px 1.1px 2px #000;
            }

            .part-2-3 {
                padding-top: 20px;
                display:none;
                overflow-x:hidden;
            }

            .part-1-1 a {
                color: #000;
                font-size: 12px;
                font-weight: bold;
                text-transform: uppercase;
            }            

            .part-2 a { 
                color: #fff; 
                font-weight: bold;
            }

            .part-2 a:hover { 
                text-decoration: underline;
            }

            .absolute-center {
                margin: auto;
                position: absolute;
                top: 0; left: 0; bottom: 0; right: 0;
                height:80px; width:80px;
                color: #fff;
                text-shadow: 1px 1px 1px #31393d;
            }


        </style>

        <div class="container" style="margin-top:100px">

            <div class="row part-1">
                <div class="col-xs-6 part-1-1">
                    <!--Year--> 
                    <div class= "pull-right">
                        <div class="btn-group pull-right">
                            <a id="make_dropdown" class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">
                                {{if request.args(0) and int(request.args[0]) in YEAR_RANGE:}}{{year=request.args[0]}}{{=year}} model year{{else:}}{{year=datetime.date.today().year}}{{=year}} model year{{pass}}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- dropdown menu links -->
                                    {{for each in YEAR_RANGE:}}<li><a id="{{=str(each)+'_year'}}" href="{{=URL(args=[each])}}">{{=each}} model year</a></li>{{pass}}
                            </ul>
                        </div>
                    </div>
                    <ul class="nav nav-list">
                        <li class="divider"></li>
                    </ul>

                    <!--/Year-->
                </div>
                
                <div class="col-xs-6 part-1-2">
                    <!-- empty -->
                    &nbsp;

                </div>
            </div>

            <div class="row part-2">
                <div class="col-xs-6 part-2-1">
                    <div class="row" style="margin-top: 20px;">
                        {{for each_brand in brands_list:}}
                            <div class="col-xs-4 car-make">
                                <a id="{{=each_brand}}_switch" href="#">{{=each_brand}}</a>
                            </div>
                        {{pass}}
                    </div>
                </div>

                <div class="col-xs-6 part-2-2">
                    <h2>When dealers compete, You win.</h2>
                </div>

                <div class="col-xs-6 part-2-3" id="models">
                <div class="absolute-center">
                <!-- content via ajax -->
                </div>
                </div>
            </div>

        </div>

        <script>
            {{for each_brand in brands_list:}}
                $('#{{=each_brand}}_switch').click(
                    function(evt){

                        $('.part-2-2').hide();

                        $('.part-2-3')
                            .html('<div class="absolute-center"><i class="fa fa-spinner fa-5x fa-spin"></i></div>')
                            .fadeIn()
                            .load( "{{=URL('ajax','vehicle_content', args=[each_brand, year])}}")
                        ;
                    }
                );
            {{pass}}

            $('.browse').click(function(e) {
                $('.browse').toggle();
            });                                                
        </script>



        </article>       
    </section>

    <div id="showcase">
        <div class="container">
            <div class="row feature_wrapper">
                <!-- Features Row -->
                <div class="features_op1_row">
                    <!-- Feature -->
                    <div class="col-sm-3 feature">
                        <div class="img_box">
                          <i class="fa fa-road fa-3x" style="color: black;"></i>
                        </div>
                        <div class="text">
                            <h3 style="text-transform:uppercase; letter-spacing: 4px; text-align:center;">Step 1</h3>
                            <p style= "font-weight:bold; font-size: 15px; text-align:center">
                                Select your desired car by Make or Type. 
                            </p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="col-sm-3 feature">
                        <div class="img_box">
                            <i class="fa fa-check-square fa-3x" style="color: red;"></i>
                        </div>
                        <div class="text">
                            <h3 style="text-transform:uppercase; letter-spacing: 4px; text-align:center">Step 2</h3>
                            <p style= "font-weight:bold; font-size: 15px; text-align:center">
                                Choose your car features, and dealer radius.  We will send your request to local dealerships. You will stay anonymous!
                            </p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="col-sm-3 feature">
                        <div class="img_box">
                            <i class="fa fa-tags fa-3x" style="color: black;"></i>
                        </div>
                        <div class="text">
                            <h3 style="text-transform:uppercase; letter-spacing: 4px; text-align:center">Step 3</h3>
                            <p style= "font-weight:bold; font-size: 15px; text-align:center">
                                Watch as dealers compete for your business--no emails or negotiating face to face with dealers.
                            </p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="col-sm-3 feature">
                        <div class="img_box">
                            <i class="fa fa-thumbs-up fa-3x" style="color: green;"></i>
                        </div>
                        <div class="text">
                            <h3 style="text-transform:uppercase; letter-spacing: 4px; text-align:center">Step 4</h3>
                            <p style= "font-weight:bold; font-size: 15px; text-align:center">
                                Connect to the winning dealer and buy!  
                            </p>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    
    <div id="features">
        <div class="container">
            <div class="row feature">
                <div class="col-sm-6">
                    <img src="http://i.imgur.com/6JB4lkF.png" class="img-responsive" />
                </div>
                <div class="col-sm-6 info">
                    <h3>
                        <i class="fa fa-tint"></i>
                        1. Choose Your Car
                    </h3>
                    <p>
                        Select the Car you want to buy.  Choose by make or type.  
                        BidDrive works best for those who are ready to buy.  We're here to help you with the last mile of the car buying marathon.  
                        Not ready to buy? Use our CarFinder Wizard to help with your search!  
                    </p>
                </div>
            </div>
            <div class="row feature">
                <div class="col-sm-6 pic-right">
                    <img src="http://i.imgur.com/6JB4lkF.png" class="pull-right img-responsive" />
                </div>
                <div class="col-sm-6 info info-left">
                    <h3>
                        <i class="fa fa-thumb-tack"></i>
                        2. Configure Car
                    </h3>
                    <p>
                        Configure your car.  Tell us the make, color, trim or any special features you would like.  The more specific you are, the better the dealer offers will be.
                        Select your dealer radius--we will only send your request to dealers within that radius.  And remember, you will stay anonymous!    
                    </p>
                </div>
            </div>
            <div class="row feature">
                <div class="col-sm-6">
                    <img src="http://i.imgur.com/6JB4lkF.png" class="img-responsive" />
                </div>
                <div class="col-sm-6 info">
                    <h3>
                        <i class="fa fa-star"></i>
                        3. Submit Request 
                    </h3>
                    <p>
                        When you are ready, submit your ANONYMOUS request to our dealer network.  Before you submit, 
                        we will ask you a few simple questions to gauge where you are in the car buying process.  
                    </p>
                </div>
            </div>
            <div class="row feature">
                <div class="col-sm-6 pic-right">
                    <img src="http://i.imgur.com/6JB4lkF.png" class="pull-right img-responsive" />
                </div>
                <div class="col-sm-6 info info-left">
                    <h3>
                        <i class="fa fa-puzzle-piece"></i>
                        4. Auction Begins!
                    </h3>
                    <p>
                        Local dealers are alerted that a buyer is ready to enter an auction . 
                         If they have a car that matches your request, they will enter it in the auction--with a bid.  
                         Sit and watch as dealers compete for your business in the 72-hour long auction. May the best dealer win.
                    </p>
                </div>
            </div> 


            <div class="row feature">
                <div class="col-sm-6">
                    <img src="http://i.imgur.com/6JB4lkF.png" class="img-responsive" />
                </div>
                <div class="col-sm-6 info">
                    <h3>
                        <i class="fa fa-star"></i>
                        5. Connect With Dealer and Buy!
                    </h3>
                    <p>
                        When you select your (100%) guaranteed bid, you will receive
                        your Biddrive voucher, and the dealers contact information.  Contact
                        that dealer within 48 hours to pick up your new car!  
                    </p>
                </div>
            </div>

            
        </div>
    </div>