{{site_nav_initially_hidden=True}}
{{site_nav_page_scroll=True}}
{{include_pace=True}}
{{extend 'layout_new.html'}}


<!-- masthead-section (this nav bar is visible only on home page) : starts -->
<header id="intro-header" class="intro-header">

    <div class="container">
        <div class="row">
            <article class="col-md-2 text-left">
                <a class="brand" href="index.html">{{=APP_NAME}}</a>
            </article>
            <article class="col-md-10 text-right">
                <ul class="intro-nav  intro-nav-white-text">
                    {{include "trinity/site-menu.html"}}
                </ul>
            </article>
        </div>
    </div>

</header>
<!-- masthead-section:ends -->


<!-- Home / Intro : starts -->
<section id="intro" class="intro intro-06 text-center homepage-carousel">

    <div id="intro-06-carousel" class="intro-carousel owl-carousel  owl-nav-sticky-wide full-height color-bg">


        <div class="item intro-06-carousel-item intro-06-carousel-item-01  text-center full-height">
            <div class="trans-dark  full-height">
                <div class="valign">
                    <h1 class="white"><span class="trans-dark white">Game Changer</span></h1>

                    <h3 class="white"><span class="white">Dealers compete for <br/> the car of your dreams</span></h3>

                    <div class="row intro-06-carousel-item-actions">
                        <div class="col-xs-6 hero-caps-button">
                            <a class="btn btn-trinity btn-trinity-big btn-cta scroll" href="#about">How it works</a>
                        </div>
                        <div class="col-xs-6 hero-caps-button">
                            <a class="btn btn-trinity btn-trinity-big btn-cta" href="{{=URL('default','car_chooser')}}">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- item:ends -->

        <div class="item intro-06-carousel-item intro-06-carousel-item-02  text-center full-height">
            <div class="trans-dark  full-height">
                <div class="valign">
                    <h1 class="white"><span class="trans-dark white">Time Management</span></h1>

                    <h3 class="white"><span class="white">Connect to multiple dealers at once, <br/> from the comfort of your home.</span>
                    </h3>

                    <div class="row intro-06-carousel-item-actions">
                        <div class="col-xs-6 hero-caps-button">
                            <a class="btn btn-trinity btn-trinity-big btn-cta scroll" href="#about">How it works</a>
                        </div>
                        <div class="col-xs-6 hero-caps-button">
                            <a class="btn btn-trinity btn-trinity-big btn-cta" href="{{=URL('default','car_chooser')}}">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- item:ends -->

        <div class="item intro-06-carousel-item intro-06-carousel-item-03  text-center full-height">
            <div class="trans-dark  full-height">
                <div class="valign">
                    <h1 class="white"><span class="trans-dark white">Role Reversal</span></h1>

                    <h3 class="white"><span class="white">Dealers compete to give you <br/> the best price on your new car.</span>
                    </h3>

                    <div class="row intro-06-carousel-item-actions">
                        <div class="col-xs-6 hero-caps-button">
                            <a class="btn btn-trinity btn-trinity-big btn-cta scroll" href="#about">How it works</a>
                        </div>
                        <div class="col-xs-6 hero-caps-button">
                            <a class="btn btn-trinity btn-trinity-big btn-cta" href="{{=URL('default','car_chooser')}}">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- item:ends -->


    </div>
    <!-- carousel:ends -->

</section>
<!-- Home / Intro : ends -->


<!-- page:ends -->
<section id="about" class="page page-section about">

    <!-- inner-section:starts -->
    <section class="inner-section pad-top pad-bottom silver-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center hero-caps animated" data-fx="fadeInUpBig">
                    <h1 class="main-heading">How Biddrive Works</h1>
                </div>
            </div>
            <div class="row pad-top">
                <div class="col-md-4 text-center howitworks-box animated" data-fx="fadeInUpBig">
                    <img alt="trinity" title="trinity" src="http://www.placehold.it/200x200.jpg"/>

                    <h3 class="color pad-top-half"><span>1. Choose your car</span></h3>

                    <p class="dark">
                        Ready to buy? Simply pick
                        the make, model and trim
                        details. We'll alert local
                        dealers within the selected
                        radius. You will stay
                        anonymous!
                    </p>
                </div>
                <div class="col-md-4 text-center howitworks-box animated" data-fx="fadeInUpBig">
                    <img alt="trinity" title="trinity" src="http://www.placehold.it/200x200.jpg"/>

                    <h3 class="color pad-top-half"><span>2. Watch dealers bid</span></h3>

                    <p class="dark">
                        Watch as area dealers
                        compete with each other for
                        your business in a
                        reverse-auction.
                    </p>
                </div>
                <div class="col-md-4 text-center howitworks-box animated" data-fx="fadeInUpBig">
                    <img alt="trinity" title="trinity" src="http://www.placehold.it/200x200.jpg"/>

                    <h3 class="color pad-top-half"><span>3. Connect to <br/>the winning dealer</span></h3>

                    <p class="dark">
                        Choose the offer that
                        makes the most sense for
                        you, and we'll connect you
                        to the winning dealer. Its
                        that simple.
                    </p>
                </div>
            </div>
            <div class="row pad-top">
                <div class="col-md-12 text-center howitworks-box animated" data-fx="fadeInUpBig">
                    <a class="btn btn-trinity btn-trinity-big btn-cta" href="{{=URL('default','car_chooser')}}">Let's get started...</a>
                </div>
            </div>
        </div>
    </section>
    <!-- inner-section:ends -->

</section>
<!-- page:ends -->


<!-- page:starts -->
<section id="portfolio" class="page page-section portfolio">

    <!-- inner-section:starts -->
    <section class="inner-section color-bg  pad-top-half pad-bottom-half">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center animated" data-fx="fadeInUpBig">
                    <div class="liner-wide text-center"><span class="white-bg"></span></div>
                    <h1 class="main-heading white pad-top">Step 1. Choose your car below</h1>

                    <div class="liner-wide text-center"><span class="white-bg"></span></div>
                </div>
            </div>
        </div>
    </section>
    <!-- inner-section:ends -->


    <!-- inner-section:starts -->
    <section class="inner-section">


        <div class="portfolio-top"></div>


        <!-- Portfolio Plus Filters -->
        <div class="portfolio">


            <!-- Portfolio Filters -->
            <div id="filters" class="silver-bg col-md-12">

                <ul class="clearfix">
                    <li><a id="all" href="#" data-filter="*" class="active"><h5>All</h5></a></li>
                    <li><a href="#" data-filter=".sedan"><h5>Sedan</h5></a></li>
                    <li><a href="#" data-filter=".suv"><h5>SUV</h5></a></li>
                    <li><a href="#" data-filter=".minivan"><h5>Minivan</h5></a></li>
                    <li><a href="#" data-filter=".hybrid"><h5>Hybrid</h5></a></li>
                    <li><a href="#" data-filter=".sporty"><h5>Sporty</h5></a></li>
                </ul>
            </div>
            <!--/Portfolio Filters -->

            <!-- Portfolio Wrap -->
            <div id="portfolio-wrap" class="white-bg">
                {{ for car in cars: }}
                    <div class="portfolio-item one-four {{=car['types']}}">
                        <div class="portfolio-image">
                            <img alt="trinity" title="trinity" src="{{=URL('static','/ed_images/')}}{{=car['image']}}"/>
                        </div>

                        <a class="" data-gall="portfolio-gallery" href="{{=URL('init','default','request_by_make', args=[ car['year'], car['make'], car['model'] ], hmac_key=str(session.salt), hash_vars=[ car['year'], car['make'], car['model'] ] )}}">
                            <div class="project-overlay">
                                <div class="project-info">
                                    <div class="zoom-icon"></div>
                                    <h4 class="project-name">{{=car['make']}} {{=car['model']}}</h4>
                                    <p class="project-categories">{{=car['year']}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {{pass}}

            </div>
            <!--/Portfolio Wrap -->

        </div>
        <!--/Portfolio Plus Filters -->


        <div class="portfolio-bottom"></div>


        <!-- Project Page Holder-->
        <div id="project-page-holder">

            <div class="clear"></div>
            <div id="project-page-data"></div>

        </div>
        <!--/Project Page Holder-->


    </section>
    <!-- inner-section:ends -->

</section>
<!-- page:ends -->


<!-- page:ends -->
<section class="separator-section testimonial parallax text-center">


    <!-- inner-section:starts -->
    <section class="separator-padding separator-overlay">


        <div id="testimonial-carousel" class="testimonial-carousel owl-carousel">

            <div class="item testimonial-carousel-item testimonial-wrap">
                <img alt="trinity" title="trinity" src="http://www.placehold.it/150x150.jpg"/>

                <p><span class="color">Mike Jones bought a 2014 Toyota Camry</span></p>
                <h6 class="white">BidDrive connected me to a nearby Toyota dealer. They had my Camry in stock and I was
                    able to get it for a great price!</h6>
            </div>

            <div class="item testimonial-carousel-item testimonial-wrap">
                <img alt="trinity" title="trinity" src="http://www.placehold.it/150x150.jpg"/>

                <p><span class="color">Marsha Broadhead bought a 2015 Honda Odyssey</span></p>
                <h6 class="white">Amazing! Fast. Easy. Saved me a lot of money. What more can I say about BidDrive?</h6>
            </div>

        </div>
        <!-- carousel:ends -->

    </section>
    <!-- inner-section : ends -->

</section>
<!-- page:ends -->
