{{extend 'page_layout.html'}}
{{"""}}ISSUESZAKI add a modal that asks if you are a new or returning user. for the new button redirect here {{=URL('user', args=['login'])}} and {{=URL('user', args=['register'])}} for the returning{{"""}}
{{#=BEAUTIFY(response._vars)}}
{{"""}}
<!--

		{{form.element('select', _name = 'trim_choices')['_class']+=' form-control'}}
		{{form.element('select', _name = 'color_preference')['_class']+=' form-control'}}
		{{form.element('input', _name = 'zip_code')['_class']+=' form-control'}}
		{{form.element('select', _name = 'radius')['_class']+=' form-control'}}
		{{form.element('input', _type = 'submit')['_class']=' btn btn-primary'}}
		{{=form.custom.begin}}
			Trim: <div>{{=form.custom.widget.trim_choices}}</div> {{#add your own ids and classes}}
			{{if form.errors['trim_choices']:}}
				<pre>{{=form.errors['trim_choices']}}</pre> {{#change to whatever element you like}}
			{{pass}}
			Colors: <div>{{=form.custom.widget.color_preference}}</div>
			{{if form.errors['color_preference']:}}
				<pre>{{=form.errors['color_preference']}}</pre>
			{{pass}}
			Zip Code: <div>{{=form.custom.widget.zip_code}}</div>
			{{if form.errors['zip_code']:}}
				<pre>{{=form.errors['zip_code']}}</pre>
			{{pass}}
			Radius: <div>{{=form.custom.widget.radius}}</div>
			{{if form.errors['radius']:}}
				<pre>{{=form.errors['radius']}}</pre>
			{{pass}}
			{{=form.custom.submit}}
		{{=form.custom.end}}

-->
{{"""}}

    <div class="row" style="background: rgba(0,0,0,.1); padding:10px; border-radius: 5px;">
        <div class="col-xs-5" id="style_photos">
			...
        </div>
        <div class="col-xs-7" id="loading_reviews">
			<h4><i class="fa fa-spin fa-spinner"></i> Loading...</h4>
		</div>
		<div class="col-xs-7" id="reviews">
			...
        </div>
    </div>

    <div class="row" style="margin-top: 50px">
        <div class="col-xs-7">

            {{ form.element("select", _name = "trim_choices")["_class"] += " form-control" }}
            {{ form.element("select", _name = "color_preference")["_class"] += " form-control" }}
            {{ form.element("select", _name = "radius")["_class"] += " form-control" }}
            {{ form.element("input", _name = "zip_code")["_class"] += " form-control" }}
            {{ form.element("input", _type = "submit")["_class"] = " btn  btn-default pull-right" }}

            {{=form.custom.begin}} 
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Trim</label>
                    <div class="col-sm-9">

                        {{=form.custom.widget.trim_choices}}

                        {{if form.errors['trim_choices']:}}
                        	<small style="text-alert">{{=form.errors['trim_choices']}}</small>
                        {{pass}}
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-3 control-label"><i id="colors_spinner" class="fa fa-spin"></i> Colors</label>
                    <div class="col-sm-9">
                        {{=form.custom.widget.color_preference}}

						{{if form.errors['color_preference']:}}
							<div class="alert alert-warning">{{=form.errors['color_preference']}}</div>
						{{pass}}                            
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-3 control-label">Zip Code</label>
                    <div class="col-sm-9">
                        <!--<input type="password" class="form-control" id="inputPassword3" placeholder="10010">-->
                        {{=form.custom.widget.zip_code}}

						{{if form.errors['zip_code']:}}
							<div class="alert alert-warning">{{=form.errors['zip_code']}}</div>
						{{pass}}                            
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Radius</label>
                    <div class="col-sm-9">
                        {{=form.custom.widget.radius}}

						{{if form.errors['radius']:}}
							<div class="alert alert-warning">{{=form.errors['radius']}}</div>
						{{pass}}

                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 ">
                        {{=form.custom.submit}}
                    </div>
                </div>
            {{=form.custom.end}}
            



        </div>

        <div class="col-xs-5">
        	<h5>Trim Specific Details <i id="stats_spinner" class="fa fa-spin"></i></h5>
        	<div id="trim_stats"></div>

        </div>
    </div>


 <script type="text/javascript">
 	function load_color_preference(){
		$('#ms-auction_request_color_preference').fadeTo(500, 0.2); //the new multiselect element that the multiselect plugin creates after initialization //fade out while loading ajax
		$('#colors_spinner').toggleClass("fa-spinner");
		$('#auction_request_color_preference').load(
			//url
			"{{=URL('ajax','color_preference', args=[make, model, year])}}{{='/'}}"+$('#auction_request_trim_choices').val() , //and the style id needed by getStylesByMakeModelYear(make, model, year, style_id):
			//callback
			function( response, status, xhr ) {
				if ( status == "error" ) {
					var msg = "Error loading colors: ";
					$("#ajax_failure_warning_message_container").append('<div id="ajax_failure_warning_color" class="alert alert-danger"><span id="ajax_failure_warning_color_message"></span><i class="fa fa-times-circle-o pull-right"></i></div>')
					$('#ajax_failure_warning_color_message').html( msg + xhr.status + " " + xhr.statusText ); //TODO- implement fail element
					$('#ajax_failure_warning_color').slideDown();
					$('#ajax_failure_warning_color').click(function(){
						$(this).slideUp();
					});
				}
				else {
					$('#ms-auction_request_color_preference').fadeTo(250, 1.0); //fade back in
					$('#colors_spinner').toggleClass("fa-spinner");
					$(this).multiSelect('refresh'); //refresh the multiselect widget because new options were loaded via ajax after the trim was changed
				}
			}
		//close load call
		);
		//display trim stats
		$('#stats_spinner').toggleClass("fa-spinner");
		$('#trim_stats').slideUp(400).load(
			"{{=URL('ajax','style_details', args=[make, model, year])}}{{='/'}}"+$('#auction_request_trim_choices').val() , //implement fail like above
			function( response, status, xhr ) {
				if ( status == "error" ) {
					var msg = "Error loading stats: ";
					$("#ajax_failure_warning_message_container").append('<div id="ajax_failure_warning_stats" class="alert alert-danger"><span id="ajax_failure_warning_stats_message"></span><i class="fa fa-times-circle-o pull-right"></i></div>')
					$('#ajax_failure_warning_stats_message').html( msg + xhr.status + " " + xhr.statusText ); //TODO- implement fail element
					$('#ajax_failure_warning_stats').slideDown();
					$('#ajax_failure_warning_stats').click(function(){
						$(this).slideUp();
					});
				}
				else {
					$(this).slideDown(200); //fade back in
					$('#stats_spinner').toggleClass("fa-spinner");
				}
			}
		);
		//display reviews
		$('#loading_reviews').slideDown();
		$('#reviews').slideUp(600).load(
			"{{=URL('ajax','reviews')}}{{='/'}}"+$('#auction_request_trim_choices').val() , //implement fail like above
			function( response, status, xhr ) {
				if ( status == "error" ) {
					var msg = "Error loading reviews: ";
					$("#ajax_failure_warning_message_container").append('<div id="ajax_failure_warning_reviews" class="alert alert-danger"><span id="ajax_failure_warning_reviews_message"></span><i class="fa fa-times-circle-o pull-right"></i></div>')
					$('#ajax_failure_warning_reviews_message').html( msg + xhr.status + " " + xhr.statusText ); //TODO- implement fail element
					$('#ajax_failure_warning_reviews').slideDown();
					$('#ajax_failure_warning_reviews').click(function(){
						$(this).slideUp();
					});
				}
				else {
					$('#loading_reviews').slideUp();
					$(this).slideDown(300); //fade back in
				}
			}
		);
		// display images
		$('#style_photos').html('<img src="http://placehold.it/815x543&text=loading..." class="img-responsive"/>').load(
			"{{=URL('ajax','style_photos')}}{{='/'}}"+$('#auction_request_trim_choices').val() , //implement fail like above
			function( response, status, xhr ) {
				if ( status == "error" ) {
					var msg = "Error loading photos: ";
					$("#ajax_failure_warning_message_container").append('<div id="ajax_failure_warning_photos" class="alert alert-danger"><span id="ajax_failure_warning_photos_message"></span><i class="fa fa-times-circle-o pull-right"></i></div>')
					$('#ajax_failure_warning_photos_message').html( msg + xhr.status + " " + xhr.statusText ); //TODO- implement fail element
					$('#ajax_failure_warning_photos').slideDown();
					$('#ajax_failure_warning_photos').click(function(){
						$(this).slideUp();
					});
				}
				else {
					//$('#reviews_spinner').toggleClass("fa-spinner");
				}
			}
		);
	//close main function
	}
 	$('#auction_request_trim_choices').change(load_color_preference); //change color preference options when you change trim dropdown
	$("#auction_request_color_preference").multiSelect('refresh'); //initialize multiselect
	
	load_color_preference(); //first ajax call based on initial trim selection //remove during testing
 </script>