{{extend 'layout.html'}}
{{import time}}

<h3 class="section">Mercurial Version Control System Interface<br />
for application "{{=request.args[0]}}"</h3>

<h4>Commit form</h4>
{{=form}}


{{if repo['.'].rev()>=0:}}

<br/><br/>
<h4>Last Revision</h4>
<table>
<tr><td>Revision:</td><td>{{=repo['.'].rev()}}</td></tr>
<tr><td>Node:</td><td>{{=repo['.']}}</td></tr>
<tr><td>Created by:</td><td>{{=repo['.'].user()}}</td></tr>
<tr><td>Created on:</td><td>{{=time.ctime(repo['.'].date()[0])}}</td></tr>
<tr><td>Description:</td><td>{{=repo['.'].description()}}</td></tr>
</table>

<br/><br/>

<h4>Past revisions</h4>
{{=changes}}

{{if files:}}
<br/><br/>
<h4>Committed files</h4>
{{=files}}
{{pass}}

{{pass}}
