{{#VIEW}}
{{extend 'page_layout_new.html'}}
<div style="overflow-y:auto";>
	{{=BEAUTIFY(my_inventory)}}
</div>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<td colspan="5">
				<div class="pull-right">
	
					{{#items per page}}
					<div class="btn-group">
					  	<button type="button" class="btn btn-default btn-sm dropdown-toggle text-uppercase text-sm" data-toggle="dropdown">
						    Per Page <i class="fa fa-caret-down"></i></span>
					  	</button>
					  	<ul class="dropdown-menu" role="menu">
							{{for each_limit in limits_list:}}
								{{_vars = dict(view=each_limit, sortby=request.vars['sortby'], show=request.vars['show'])}}
								<li><a href="{{=URL(vars=_vars)}}">{{=each_limit}} per page</a></li>
							{{pass}}
						</ul>
					</div>

					{{#sorting}}
					<div class="btn-group">
					  	<button type="button" class="btn btn-default btn-sm dropdown-toggle text-uppercase text-sm" data-toggle="dropdown">
						    Sort By <i class="fa fa-caret-down"></i></span>
					  	</button>
					  	<ul class="dropdown-menu" role="menu">
							{{for each_pair in sorting:}}
								{{for each_sort in each_pair:}}
									{{_vars.update(dict(sortby=each_sort, view=request.vars['view'] or 5, show=request.vars['show'],))}}
									{{sort_words = each_sort.split('-')}}
									<li><a href="{{=URL(vars=_vars)}}">{{=sort_words[0].replace('_',' ').capitalize()}}<i class="fa fa-angle-double-{{=sort_words[1]}} fa-fw"></i></a></li>
								{{pass}}
							{{pass}}
						</ul>
					</div>
					
					{{#show}}
					<div class="btn-group">
					  	<button type="button" class="btn btn-default btn-sm dropdown-toggle text-uppercase text-sm" data-toggle="dropdown">
						    Show <i class="fa fa-caret-down"></i></span>
					  	</button>
					  	<ul class="dropdown-menu" role="menu">
							{{for each_show in show_list:}}
								{{_vars.update(dict(show = each_show, sortby=request.vars['sortby'], view=request.vars['view'] or 5))}}
								<li><a href="{{=URL(vars=_vars)}}">{{=each_show.capitalize()}} vehicles</a></li>
							{{pass}}
						</ul>
					</div>	

				</div>
			</td>
		</tr>
		<tr>
			<th>Vehicle</th>
			<th>Auction</th>
			<th>Your offer</th>
			<th>Concludes in</th> <!--{{#<i class="fa fa-fw fa-info-circle"  title="Includes 24 hour winner selection period."></i>}}-->
			<th>View auction</th>
		</tr>
	</thead>
	<tbody>
		{{for each_offer in my_inventory:}}
			<tr>
				<td>
					<div>{{=each_offer.auction_request_offer.year}} {{=each_offer.auction_request_offer.make_name}} {{=each_offer.auction_request_offer.model_name}} </div>
					<p>{{=each_offer.auction_request_offer.vin_number}}</p>
				</td>
				<td>
					<div>Buyer {{=each_offer.auction_request.owner_id}}</div>
					<p>Test</p>
				</td>
				<td>
					<div>Test</div>
					<p>Test</p>
				</td>
				<td>
					<div>Test</div>
					<p>Test</p>
				</td>
				<td>
					<div>Test</div>
					<p>Test</p>
				</td>
			</tr>
		{{pass}}
	</tbody>
</table>