{{#VIEW}}
{{extend 'page_layout_new.html'}}
<!--div style="overflow-y:auto";>
	{{#=BEAUTIFY(my_inventory)}}
</div-->

{{ scrape_form.element("input", _name = "login_1")["_class"] += " form-control" }}
{{ scrape_form.element("input", _name = "login_2")["_class"] += " form-control" }}
{{ scrape_form.element("input", _name = "login_3")["_class"] += " form-control" }}
{{ scrape_form.element("input", _name = "login_4")["_class"] += " form-control" }}
{{ scrape_form.element("select", _name = "site")["_class"] += " form-control" }}
{{ scrape_form.element("input", _type = "submit")["_class"] = " btn btn-trinity btn-info btn-trinity-big" }}
{{ scrape_form.element("input", _type = "submit")["_id"] = "submit" }}
{{ scrape_form.element("input", _type = "submit")["_value"] = "Import Data" }}

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<td colspan="4">
				
				<div class="pull-left">
					
					<div class="input-group">
						<input id="vin_input" type="text" class="form-control" placeholder="Enter VIN Number">
						<span class="input-group-btn">
							<button id="vin_submit_btn" class="btn btn-trinity"><i class="fa fa-fw fa-plus"></i>Add vehicle</button>
							<script>
								function activate_vin_submit_btn(inp) {
									if (Boolean( inp.val() ) == false) {
										$("#vin_submit_btn").removeClass("btn-info");
										$("#vin_submit_btn").addClass("disabled btn-default");
									} else {
										$("#vin_submit_btn").addClass("btn-info");
										$("#vin_submit_btn").removeClass("disabled btn-default");
									}
								}
								activate_vin_submit_btn($("#vin_input"));
								$("#vin_input").keyup(function(evt){
									activate_vin_submit_btn($(evt.target));
								}).change(function(evt){
									activate_vin_submit_btn($(evt.target));
								});
								$("#vin_submit_btn").click(function(){
									window.location.href = "{{=URL('inventory', 'vin_decode') }}/" + $("#vin_input").val();
								});
							</script>
						</span>
					</div><!-- /input-group -->
					<br>
					<button id="import_modal_btn" class="btn btn-trinity btn-default" href="#" data-toggle="modal" data-target="#import_modal"><i class="fa fa-fw fa-puzzle-piece"></i>Import vehicle</button>
					<div id="import_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title">Import your vehicle from another site</h4>
								</div>
								
								
							{{=scrape_form.custom.begin}}
							
								<div class="modal-body">
								
									<div class="row">
										<div class="form-group">
											<label for="{{=scrape_form.custom.widget.site['_id']}}" class="col-sm-3 control-label">Website <i class="fa fa-question-circle" title="TODO"></i></label>
											<div class="col-sm-9">
												{{=scrape_form.custom.widget.site}}

											{{if scrape_form.errors['site']:}}
												<div class="alert alert-warning">{{=form.errors['options']}}</div>
											{{pass}}
											</div>
										</div>
									</div>
									
									<div id="field_1" class="row" style="display:none;" >
										<div class="form-group">
											<label id="label_1" for="{{=scrape_form.custom.widget.login_1['_id']}}" class="col-sm-3 control-label">login 1 <i class="fa fa-question-circle" title="TODO"></i></label>
											<div class="col-sm-9">
												{{=scrape_form.custom.widget.login_1}}

											{{if scrape_form.errors['login_1']:}}
												<div class="alert alert-warning">{{=form.errors['login_1']}}</div>
											{{pass}}
											</div>
										</div>
									</div>
									
									<div id="field_2" class="row" style="display:none;" >
										<div class="form-group">
											<label id="label_2" for="{{=scrape_form.custom.widget.login_2['_id']}}" class="col-sm-3 control-label">login 2 <i class="fa fa-question-circle" title="TODO"></i></label>
											<div class="col-sm-9">
												{{=scrape_form.custom.widget.login_2}}

											{{if scrape_form.errors['login_2']:}}
												<div class="alert alert-warning">{{=form.errors['login_2']}}</div>
											{{pass}}
											</div>
										</div>
									</div>
									
									<div id="field_3" class="row" style="display:none;" >
										<div class="form-group">
											<label id="label_3" for="{{=scrape_form.custom.widget.login_3['_id']}}" class="col-sm-3 control-label">login 3 <i class="fa fa-question-circle" title="TODO"></i></label>
											<div class="col-sm-9">
												{{=scrape_form.custom.widget.login_3}}

											{{if scrape_form.errors['login_3']:}}
												<div class="alert alert-warning">{{=form.errors['login_3']}}</div>
											{{pass}}
											</div>
										</div>
									</div>

									<div id="field_4" class="row" style="display:none;" >
										<div class="form-group">
											<label id="label_4" for="{{=scrape_form.custom.widget.login_4['_id']}}" class="col-sm-3 control-label">login 4 <i class="fa fa-question-circle" title="TODO"></i></label>
											<div class="col-sm-9">
												{{=scrape_form.custom.widget.login_4}}

											{{if scrape_form.errors['login_4']:}}
												<div class="alert alert-warning">{{=form.errors['login_4']}}</div>
											{{pass}}
											</div>
										</div>
									</div>
									
									<script>
										spider_labels = {{=VIEW_SPIDER_LABELS}};
										function show_fields(target) {
											spider = spider_labels[$(target).val()]
											for (number in spider) {
												if (Boolean(spider[number]) ) {
													$("#field_"+number).show();
													$("#label_"+number).text(spider[number]);
												} else {
													$("#field_"+number).hide();
												}
											}
										}
										$("#scrape_site").change(function(evt){
											show_fields(evt.target)
										});
										show_fields($("#scrape_site"));
									</script>
									
								</div>
								
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
								</div>
								
							{{=scrape_form.custom.end}}
							
							
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->			
					
				</div>

				<div class="pull-right">
	
					{{#items per page}}
					<div class="btn-group">
					  	<button type="button" class="btn btn-default btn-sm dropdown-toggle text-uppercase text-sm" data-toggle="dropdown">
						    Per Page <i class="fa fa-caret-down"></i></span>
					  	</button>
					  	<ul class="dropdown-menu" role="menu">
							{{for each_limit in limits_list:}}
								{{_vars = dict(view=each_limit, sortby=request.vars['sortby'], show=request.vars['show'])}}
								<li><a href="{{=URL(vars=_vars)}}">{{=each_limit}} per page</a></li>
							{{pass}}
						</ul>
					</div>

					{{#sorting}}
					<div class="btn-group">
					  	<button type="button" class="btn btn-default btn-sm dropdown-toggle text-uppercase text-sm" data-toggle="dropdown">
						    Sort By <i class="fa fa-caret-down"></i></span>
					  	</button>
					  	<ul class="dropdown-menu" role="menu">
							{{for each_pair in sorting:}}
								{{for each_sort in each_pair:}}
									{{_vars.update(dict(sortby=each_sort, view=request.vars['view'] or 5, show=request.vars['show'],))}}
									{{sort_words = each_sort.split('-')}}
									<li><a href="{{=URL(vars=_vars)}}">{{=sort_words[0].replace('_',' ').capitalize()}}<i class="fa fa-angle-double-{{=sort_words[1]}} fa-fw"></i></a></li>
								{{pass}}
							{{pass}}
						</ul>
					</div>
					
					{{#show}}
					<div class="btn-group">
					  	<button type="button" class="btn btn-default btn-sm dropdown-toggle text-uppercase text-sm" data-toggle="dropdown">
						    Show <i class="fa fa-caret-down"></i></span>
					  	</button>
					  	<ul class="dropdown-menu" role="menu">
							{{for each_show in show_list:}}
								{{_vars.update(dict(show = each_show, sortby=request.vars['sortby'], view=request.vars['view'] or 5))}}
								<li><a href="{{=URL(vars=_vars)}}">{{=each_show.capitalize()}} vehicles</a></li>
							{{pass}}
						</ul>
					</div>	

				</div>
			</td>
		</tr>
		<tr>
			<th>Vehicle</th>
			<th>Trim</th>
			<th>Colors</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{{for each_offer in my_inventory:}}
			<tr>
				<td>
					<h4>{{=each_offer.year}} {{=each_offer.make_name}} {{=each_offer.model_name}} </h4>
					<h5>VIN: {{=each_offer.vin_number}} | ID: {{=str(each_offer.id).zfill(3)}}</h5>
				</td>
				<td>
					<h4>{{=each_offer.trim_name}}</h4>
					<h5>MSRP: ${{=each_offer.estimation()}} | <{{if len(each_offer.options):}}{{_tag="a"}}{{=_tag}} href="javascript:void(0)"{{else:}}{{_tag="span"}}{{=_tag}}{{pass}}  title="{{for each_option_name in each_offer.option_names:}}&#149;{{=each_option_name}}&#x0D;&#x0A;{{pass}}">{{=len(each_offer.options)}} options</{{=_tag}}></h5>
				</td>
				<td>
					<h4>Exterior: {{=COLOR_SWATCH(each_offer['exterior_color']['hex'], each_offer['exterior_color']['name'])}}</h4>
					<h5>Interior: {{=COLOR_SWATCH(each_offer['interior_color']['hex'], each_offer['interior_color']['name'])}}</h5>
				</td>
				<td>
					<a href="{{=URL('inventory','vehicle', args=[each_offer.year, each_offer.make, each_offer.model, each_offer.id])}}" class="btn btn-large btn-default" title="Edit"><i class="fa fa-fw fa-edit"></i></a>
					<a href="#" class="btn btn-large btn-default" title="Delete"><i class="fa fa-fw fa-trash-o"></i></a>
				</td>
			</tr>
		{{pass}}
	</tbody>
</table>