{{extend 'page_layout.html'}}

<div class="col-md-4 col-sm-6">
	<div class="panel panel-default text-center">
		<div class="panel-body">
			Purchase
			<h3 style="font-size: 36px">5</h3>
			Credits	for $x.99
		</div>
		<div class="panel-footer">
			Small print Small print Small print 
		</div>		
	</div>
</div>

<div class="col-md-4 col-sm-6">
	<div class="panel panel-default text-center">
		<div class="panel-body">
			Purchase
			<h3 style="font-size: 36px">10</h3>
			Credits	for $x.99
		</div>
		<div class="panel-footer">
			Small print Small print Small print 
		</div>
	</div>
</div>

<div class="col-md-4 col-sm-6">
	<div class="panel panel-primary text-center">
		<div class="panel-body">
			Purchase
			<h3 style="font-size: 36px">15</h3>
			Credits	for $x.99
		</div>
		<div class="panel-footer">
			Best Value!
		</div>		
	</div>
</div>