<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"></h4>
        </div>
        <div class="modal-body">

            <h1 class="text-center"><span>Here's how the auction will work</span></h1>
            <h3 class="text-center">for your {{=auction_request_info['year']}} {{=auction_request_info['make']}} {{=auction_request_info['model']}}</h3>

            <div class="row pad-top-half">
                <div class="col-md-4 text-center">
                    <img class="help_image" src="http://placehold.it/120"/>
                </div>
                <div class="col-md-1">
                    <span class="help_step_id">1</span>
                </div>
                <div class="col-md-7">
                    <h3>Wait for offers</h3>
                    <p>It takes time for some dealers to get your car request!</p>
                </div>
            </div>

            <div class="row pad-top-half">
                <div class="col-md-4 text-center">
                    <img class="help_image" src="http://placehold.it/120"/>
                </div>
                <div class="col-md-1">
                    <span class="help_step_id">2</span>
                </div>
                <div class="col-md-7">
                    <h3>The clock starts</h3>
                    <p>
						The auction will last for 72 hours (3 days). After that, you have an additional 24 hours to pick a winner.
                    </p>
                </div>
            </div>

            <div class="row pad-top-half">
                <div class="col-md-4 text-center">
                    <img class="help_image" src="http://placehold.it/120"/>
                </div>
                <div class="col-md-1">
                    <span class="help_step_id">3</span>
                </div>
                <div class="col-md-7">
                    <h3>Or ...</h3>
                    <p>A dealer can make a final offer, with a specified amount of time left.  Picking this offer will end the auction!</p>
                </div>
            </div>

            <div class="row pad-top-half">
                <div class="col-md-4 text-center">
                    <img class="help_image" src="http://placehold.it/120"/>
                </div>
                <div class="col-md-1">
                    <span class="help_step_id">4</span>
                </div>
                <div class="col-md-7">
                    <h3>Message With Dealers!</h3>
                    <p>Have a question about a car or about an offer? Ask away!</p>
                </div>
            </div>

            <div class="row pad-top-half">
                <div class="col-md-4 text-center">
                    <img class="help_image" src="http://placehold.it/120"/>
                </div>
                <div class="col-md-1">
                    <span class="help_step_id">5</span>
                </div>
                <div class="col-md-7">
                    <h3>Times Up!</h3>
                    <p>When the auction ends, select your preferred offer by pressing its "Buy it now!" button. </p>
                </div>
            </div>

            <div class="row pad-top-half">
                <div class="col-md-4 text-center">
                    <img class="help_image" src="http://placehold.it/120"/>
                </div>
                <div class="col-md-1">
                    <span class="help_step_id">6</span>
                </div>
                <div class="col-md-7">
                    <h3>It’s Yours!</h3>
                    <p>Connect with the winning dealer by following the instructions, and you'll get a certificate of guarantee!</p>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
