<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Welcome to your auction page for your {{=auction_request_info['year']}} {{=auction_request_info['make']}} {{=auction_request_info['model']}}</h4>
        </div>
        <div class="modal-body">

            <h1 class="text-center">Here's how the auction will work</h1>

            <div class="row pad-top-half">
                <div class="col-md-4 text-center">
                    <img class="help_image" src="http://placehold.it/100"/>
                </div>
                <div class="col-md-1">
                    <span class="help_step_id">1</span>
                </div>
                <div class="col-md-7">
                    <h3>Wait for offers</h3>
                    <p>It takes time for some dealers to get your car request!</p>
                </div>
            </div>

            <div class="row pad-top-half">
                <div class="col-md-4 text-center">
                    <img class="help_image" src="http://placehold.it/100"/>
                </div>
                <div class="col-md-1">
                    <span class="help_step_id">2</span>
                </div>
                <div class="col-md-7">
                    <h3>The clock starts</h3>
                    <p>The clock starts when the first offer comes in.  The auction will take 3 days to complete.
                    </p>
                </div>
            </div>

            <div class="row pad-top-half">
                <div class="col-md-4 text-center">
                    <img class="help_image" src="http://placehold.it/100"/>
                </div>
                <div class="col-md-1">
                    <span class="help_step_id">3</span>
                </div>
                <div class="col-md-7">
                    <h3>Or..</h3>
                    <p>A dealer can make a final offer, with a specified amount of time left.  Picking this offer will end the auction!</p>
                </div>
            </div>

            <div class="row pad-top-half">
                <div class="col-md-4 text-center">
                    <img class="help_image" src="http://placehold.it/100"/>
                </div>
                <div class="col-md-1">
                    <span class="help_step_id">4</span>
                </div>
                <div class="col-md-7">
                    <h3>Message With Dealers!</h3>
                    <p>Have a question about a car or about an offer? Ask away!</p>
                </div>
            </div>

            <div class="row pad-top-half">
                <div class="col-md-4 text-center">
                    <img class="help_image" src="http://placehold.it/100"/>
                </div>
                <div class="col-md-1">
                    <span class="help_step_id">5</span>
                </div>
                <div class="col-md-7">
                    <h3>Times Up!</h3>
                    <p>When the auction ends, select your favorite offer. The “BUY NOW” buttons will now be clickable</p>
                </div>
            </div>

            <div class="row pad-top-half">
                <div class="col-md-4 text-center">
                    <img class="help_image" src="http://placehold.it/100"/>
                </div>
                <div class="col-md-1">
                    <span class="help_step_id">6</span>
                </div>
                <div class="col-md-7">
                    <h3> It’s Yours!</h3>
                    <p>Connect with the winning dealer by following the instructions on your verified certificate!</p>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
