<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"></h4>
        </div>
        <div class="modal-body">

            <h1 class="text-center"><span>Here's how the auction will work</span></h1>
            <h3 class="text-center">for this {{=auction_request_info['year']}} {{=auction_request_info['make']}} {{=auction_request_info['model']}}</h3>

            <div class="row pad-top-half">
                <div class="col-md-4 text-center">
                    <img class="help_image" src="http://placehold.it/120"/>
                </div>
                <div class="col-md-1">
                    <span class="help_step_id">1</span>
                </div>
                <div class="col-md-7">
                    <h3>Enter A Bid</h3>
                    <p>
                        The auction begins when the first bid is made.  Once you enter a bid, you can send a message the buyer.
                    </p>
                </div>
            </div>

            <div class="row pad-top-half">
                <div class="col-md-4 text-center">
                    <img class="help_image" src="http://placehold.it/120"/>
                </div>
                <div class="col-md-1">
                    <span class="help_step_id">2</span>
                </div>
                <div class="col-md-7">
                    <h3>The clock starts</h3>
                    <p>The auction will last for 72 hours (3 days). After that, the buyer has an additional 24 hours to pick a winner.
                </div>
            </div>

            <div class="row pad-top-half">
                <div class="col-md-4 text-center">
                    <img class="help_image" src="http://placehold.it/120"/>
                </div>
                <div class="col-md-1">
                    <span class="help_step_id">3</span>
                </div>
                <div class="col-md-7">
                    <h3>Or ...</h3>
                    <p>
                        If you have an offer that will expire in a certain time, you can enter a FINAL OFFER with an expiration time.
                    </p>
                </div>
            </div>

            <div class="row pad-top-half">
                <div class="col-md-4 text-center">
                    <img class="help_image" src="http://placehold.it/120"/>
                </div>
                <div class="col-md-1">
                    <span class="help_step_id">4</span>
                </div>
                <div class="col-md-7">
                    <h3>Message With Buyer!</h3>
                    <p>
                        Want to ask the buyer a question? Click on the message button!
                    </p>
                </div>
            </div>

            <div class="row pad-top-half">
                <div class="col-md-4 text-center">
                    <img class="help_image" src="http://placehold.it/120"/>
                </div>
                <div class="col-md-1">
                    <span class="help_step_id">5</span>
                </div>
                <div class="col-md-7">
                    <h3>Just Wait</h3>
                    <p>
                        The buyer is instructed to call a special phone number and enter a secret code.  This phone call will be directed directly to you!
                    </p>
                </div>
            </div>

            <div class="row pad-top-half">
                <div class="col-md-4 text-center">
                    <img class="help_image" src="http://placehold.it/120"/>
                </div>
                <div class="col-md-1">
                    <span class="help_step_id">6</span>
                </div>
                <div class="col-md-7">
                    <h3>Then?</h3>
                    <p>
                        Set up an appointment for the buyer to come to you.
                        Once you are connected, BidDrive is no longer involved in the process.
                    </p>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
