{{extend 'page_layout.html'}}





<hr><hr><hr>
{{#=BEAUTIFY(my_offers)}}


<!--
{{for each_offer in my_offer_summaries:}}
<pre>
<pre>Year: {{=each_offer['year']}}</pre>
	<pre>Make: {{=each_offer['make']}}</pre>
	<pre>Model: {{=each_offer['model']}}</pre>
	<pre>Trim: {{=each_offer['trim']}}</pre>
	<pre>Color: {{=each_offer['color']}}</pre>
	<pre>Auction Best Price: {{=each_offer['auction_best_price']}}</pre>
	<pre>My Last Bid Price: {{=each_offer['my_last_bid_price']}}</pre>
	<pre>My Last Bid Time: {{=each_offer['my_last_bid_time']}}</pre>
	<pre>Auction Bids: {{=each_offer['auction_bids']}}</pre>{{#total bids in auction}} 
	<pre>Number of Bids: {{=each_offer['number_of_bids']}}</pre>{{#number of bids made by this dealer}}
	<pre>New Messages: {{=each_offer['new_messages']}}</pre>{{#number of bids made by this dealer}}
	<pre>Offer ID: {{=each_offer['my_offer_id']}}</pre>
	<pre>Auction ID: {{=each_offer['auction_id']}}</pre>
	<pre>Auction URL: <a href="{{=each_offer['auction_url']}}">Auction #{{=each_offer['auction_id']}}</a></pre>
</pre>
{{pass}}
-->
<div class="row">
	<div class="col-xs-12">
		{{show=request.vars['show']}}
		<h3>{{if show == 'won':}}Auctions you won{{elif show == 'lost':}}Auctions you didn't win{{elif show == "live":}}Live auctions you're in{{else:}}All auctions you entered{{pass}}.</h3>
	</div>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<td colspan="4">
				<div class="pull-right">
					{{#items per page}}
					<div class="btn-group">
					  	<button type="button" class="btn btn-default btn-sm dropdown-toggle text-uppercase text-sm" data-toggle="dropdown">
						    Per Page <i class="fa fa-caret-down"></i></span>
					  	</button>
					  	<ul class="dropdown-menu" role="menu">
							{{for each_limit in limits_list:}}
								{{_vars = dict(view=each_limit, sortby=request.vars['sortby'], show=request.vars['show'])}}
								<li><a href="{{=URL(vars=_vars)}}">{{=each_limit}} per page</a></li>
							{{pass}}
						</ul>
					</div>

					{{#sorting}}
					<div class="btn-group">
					  	<button type="button" class="btn btn-default btn-sm dropdown-toggle text-uppercase text-sm" data-toggle="dropdown">
						    Sort By <i class="fa fa-caret-down"></i></span>
					  	</button>
					  	<ul class="dropdown-menu" role="menu">
							{{for each_pair in sorting:}}
								{{for each_sort in each_pair:}}
									{{_vars.update(dict(sortby=each_sort, view=request.vars['view'] or 5, show=request.vars['show'],))}}
									{{sort_words = each_sort.split('-')}}
									<li><a href="{{=URL(vars=_vars)}}">{{=sort_words[0].replace('_',' ').capitalize()}}<i class="fa fa-angle-double-{{=sort_words[1]}} fa-fw"></i></a></li>
								{{pass}}
							{{pass}}
						</ul>
					</div>
					
					{{#show}}
					<div class="btn-group">
					  	<button type="button" class="btn btn-default btn-sm dropdown-toggle text-uppercase text-sm" data-toggle="dropdown">
						    Show <i class="fa fa-caret-down"></i></span>
					  	</button>
					  	<ul class="dropdown-menu" role="menu">
							{{for each_show in show_list:}}
								{{_vars.update(dict(show = each_show, sortby=request.vars['sortby'], view=request.vars['view'] or 5))}}
								<li><a href="{{=URL(vars=_vars)}}">{{=each_show.capitalize()}} auctions</a></li>
							{{pass}}
						</ul>
					</div>					
				
				</div>
			</td>
		</tr>
		<tr>
			<th>Offer</th>
			<th>Bids made</th>
			<th>Best price</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		{{for each_offer in my_offer_summaries:}}
			<tr>
				<td>
					<div>{{=each_offer['year'].upper()}} {{=each_offer['make'].upper()}} {{=each_offer['model'].upper()}} <span class="text-sm text-light">{{=each_offer['color']}}</span></div>
					<div><small>{{=each_offer['trim']}}</small></div>
				</td>
				<td>
					<div>{{=each_offer['auction_bids']}} total.</div>
					<div>
						<small>
							{{=each_offer['number_of_bids']}} by you. 
							{{#needs some logic here}}
							{{=each_offer['my_last_bid_price']}} on {{=each_offer['my_last_bid_time']}}.
						</small>
					</div>
				</td>
				<td>{{=each_offer['auction_best_price']}}</td>
				<td> 
					<a class="btn btn-default" href="{{=each_offer['auction_url']}}"><i class="fa fa-arrow-right"></i></a> 
					{{#=each_offer['my_offer_id']}}
					{{#=each_offer['auction_id']}}
				</td>

			</tr>

			<tr>
				<td colspan="4">
					{{#himel:stick the variables in here, this is the space that will expand}}
				</td>
			</tr>
		{{pass}}
	</tbody>
</table>

{{#pagination}}
{{#prev/next may or may not appear based on content}}
{{#previous page}}
{{if page:}}
	<a href="{{=URL(args=[page-1])}}">previous</a>
{{pass}}

{{#next page}}
{{if len(my_offer_summaries)>items_per_page:}}
	<a href="{{=URL(args=[page+1])}}" class="pull-right">next</a>
{{pass}}