{{#VIEW}}
{{extend 'page_layout_new.html'}}
{{#=BEAUTIFY(my_offers)}}
{{show=request.vars['show']}}

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<td colspan="5">
				<div class="pull-right">
					{{#items per page}}
					<div class="btn-group">
					  	<button type="button" class="btn btn-default btn-sm dropdown-toggle text-uppercase text-sm" data-toggle="dropdown">
						    Per Page <i class="fa fa-caret-down"></i></span>
					  	</button>
					  	<ul class="dropdown-menu" role="menu">
							{{for each_limit in limits_list:}}
								{{_vars = dict(view=each_limit, sortby=request.vars['sortby'], show=request.vars['show'])}}
								<li><a href="{{=URL(vars=_vars)}}">{{=each_limit}} per page</a></li>
							{{pass}}
						</ul>
					</div>

					{{#sorting}}
					<div class="btn-group">
					  	<button type="button" class="btn btn-default btn-sm dropdown-toggle text-uppercase text-sm" data-toggle="dropdown">
						    Sort By <i class="fa fa-caret-down"></i></span>
					  	</button>
					  	<ul class="dropdown-menu" role="menu">
							{{for each_pair in sorting:}}
								{{for each_sort in each_pair:}}
									{{_vars.update(dict(sortby=each_sort, view=request.vars['view'] or 5, show=request.vars['show'],))}}
									{{sort_words = each_sort.split('-')}}
									<li><a href="{{=URL(vars=_vars)}}">{{=sort_words[0].replace('_',' ').capitalize()}}<i class="fa fa-angle-double-{{=sort_words[1]}} fa-fw"></i></a></li>
								{{pass}}
							{{pass}}
						</ul>
					</div>
					
					{{#show}}
					<div class="btn-group">
					  	<button type="button" class="btn btn-default btn-sm dropdown-toggle text-uppercase text-sm" data-toggle="dropdown">
						    Show <i class="fa fa-caret-down"></i></span>
					  	</button>
					  	<ul class="dropdown-menu" role="menu">
							{{for each_show in show_list:}}
								{{_vars.update(dict(show = each_show, sortby=request.vars['sortby'], view=request.vars['view'] or 5))}}
								<li><a href="{{=URL(vars=_vars)}}">{{=each_show.capitalize()}} auctions</a></li>
							{{pass}}
						</ul>
					</div>					
				
				</div>
			</td>
		</tr>
		<tr>
			<th>Buyer requested a</th>
			<th>You submitted a</th>
			<th>You bided</th>
			<th>Winner ETA</th> <!--{{#<i class="fa fa-fw fa-info-circle"  title="Includes 24 hour winner selection period."></i>}}-->
			<th>Go to auction</th>
		</tr>
	</thead>
	<tbody>
		{{for each_offer in my_offer_summaries:}}
			<tr>
				<td>
					<h4>{{=each_offer['auction_request_info']['year']}} {{=each_offer['auction_request_info']['make']}} {{=each_offer['auction_request_info']['model']}}</h4>
					<h5>{{=each_offer['auction_request_info']['trim']}}</h5>
					<h5>Buyer: {{=each_offer['auction_request_info']['buyer']}}</h5>
				</td>
				<td>
					<h4>{{=each_offer['year']}} {{=each_offer['make']}} {{=each_offer['model']}} {{=COLOR_SWATCH(each_offer['exterior_color']['hex'],each_offer['exterior_color']['name'])}}</h4>
					<h5>{{=each_offer['trim']}} </h5>
					<h5>VIN: {{=each_offer['vin']}}</h5>
				</td>
				<td>
					<h4>
						{{=each_offer['my_last_bid_price']}}{{if each_offer['has_unread_messages']:}} <i class="fa fa-fw fa-envelope"  title="You have unread messages."></i>{{pass}}
					</h4>
					<h5>{{if each_offer['my_last_bid_time']:}}{{=each_offer['my_last_bid_time']}} ago{{else:}}--{{pass}}</h5>
				</td>
				<td>
					<h4 style="width:125px;">{{if each_offer['ends_in_human']:}}{{=each_offer['ends_in_human']}}{{else:}}<i>{{if each_offer['how_auction_ended']:}}{{=each_offer['how_auction_ended']}}{{else:}}Auction ended{{pass}}</i>{{pass}}</h4>
				</td>
				<td> 
					<a class="btn btn-info" href="{{=each_offer['auction_url']}}">ID {{=str(each_offer['auction_id']).zfill(3)}}<i class="fa fa-fw fa-arrow-right"></i></a> 
					<!--{{#=each_offer['my_offer_id']}}
					{{#=each_offer['auction_id']}}-->
				</td>
			</tr>
		{{pass}}
	</tbody>
</table>

{{#pagination}}
{{#prev/next may or may not appear based on content}}
{{#previous page}}
{{if page:}}
	<a href="{{=URL(args=[page-1])}}"><span class="glyphicon glyphicon-chevron-left"></span> Previous</a>
{{pass}}

{{#next page}}
{{if len(my_offer_summaries)>items_per_page:}}
	<a href="{{=URL(args=[page+1])}}" class="pull-right">Next <span class="glyphicon glyphicon-chevron-right"></span></a>
{{pass}}