{{extend 'page_layout_new.html'}}
{{#=BEAUTIFY(response._vars)}}
{{#"""}}
<hr>
<h3>Submit your vehicle</h3>
<h4 class="text-light">{{="%s %s %s"%(year, make_name, model_name)}}{{#="%s %s %s"%tuple(map(lambda each: each.upper(), [year, make_name, model_name]))}}</h4>
<span class="text-light text-md pull-right">{{=trim_name}}</span>
<hr>

<div class="row-fluid">
	<div id = "pre_auction_form" class = "col-md-7 col-sm-8 col-xs-12">
	
		{{=form.custom.begin}}
				{{ form.element("input", _name = "vin_number")["_class"] += " form-control" }}
				{{# form.element("input", _name = "remember_data_for_30_days")["_class"] += " form-control" }}
				{{ form.element("select", _name = "exterior_color")["_class"] += " form-control" }}
				{{ form.element("select", _name = "interior_color")["_class"] += " form-control" }}
				{{ form.element("select", _name = "options")["_class"] += " form-control" }}
				{{# form.element("select", _name = "fees_options")["_class"] += " form-control" }}
				{{ form.element("textarea", _name = "summary")["_class"] += " form-control" }}
				{{ form.element("input", _name = "additional_costs")["_class"] += " form-control" }}
				{{ form.element("input", _name = "additional_costs")["_placeholder"] = "$$$" }}
				{{ form.element("textarea", _name = "additional_costs_details")["_class"] += " form-control" }}
				{{ form.element(_type="file", _name = "exterior_image")["_class"] += " form-control" }}
				{{ form.element(_type="file", _name = "interior_image")["_class"] += " form-control" }}
				{{ form.element(_type="file", _name = "front_image")["_class"] += " form-control" }}
				{{ form.element(_type="file", _name = "rear_image")["_class"] += " form-control" }}
				{{ form.element(_type="file", _name = "tire_image")["_class"] += " form-control" }}
				{{ form.element(_type="file", _name = "dashboard_image")["_class"] += " form-control" }}
				{{ form.element(_type="file", _name = "passenger_image")["_class"] += " form-control" }}
				{{ form.element(_type="file", _name = "trunk_image")["_class"] += " form-control" }}
				{{ form.element(_type="file", _name = "underhood_image")["_class"] += " form-control" }}
				{{ form.element(_type="file", _name = "roof_image")["_class"] += " form-control" }}
				{{ form.element(_type="file", _name = "other_image")["_class"] += " form-control" }}
				{{# form.element("input", _type = "submit")["_id"] = "submit" }}
				{{# form.element("input", _type = "submit")["_class"] = " btn  btn-default pull-right" }}
				
				<div class="form-group">
					<label class="col-sm-3 control-label">VIN number</label>
					<div class="col-sm-9">
						{{=form.custom.widget.vin_number}}

						{{if form.errors['vin_number']:}}
							<div class="alert alert-warning">{{=form.errors['vin_number']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Exterior color</label>
					<div class="col-sm-9">
						{{=form.custom.widget.exterior_color}}

						{{if form.errors['exterior_color']:}}
							<div class="alert alert-warning">{{=form.errors['exterior_color']}}</div>
						{{pass}}
					</div>
				</div>				
				<div class="form-group">
					<label class="col-sm-3 control-label">Interior color</label>
					<div class="col-sm-9">
						{{=form.custom.widget.interior_color}}

						{{if form.errors['interior_color']:}}
							<div class="alert alert-warning">{{=form.errors['interior_color']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Options</label>
					<div class="col-sm-9">
						{{=form.custom.widget.options}}

						{{if form.errors['options']:}}
							<div class="alert alert-warning">{{=form.errors['options']}}</div>
						{{pass}}
					</div>
				</div>

				<script>
					var option_codes = {{=XML(json.dumps(option_codes))}};
					var previous_options_submissions = $("#auction_request_offer_options option:selected"); //{{#see if there was a previous submission, which occurs only on erroneous form submission http://goo.gl/iGhKER http://goo.gl/A6MOz}}
					$("#auction_request_offer_options").children().remove();
					$.each( option_codes, function( i, item) { //{{#similar to python enumerate, but dissimilar when it comes to dict}}
						var optgroup_id = "auction_request_offer_options_" + item['category'];
						if ($("#"+optgroup_id).length == 0) {
							$("#auction_request_offer_options").append("<optgroup label='" + item['category_name'] +"' id ='" + optgroup_id +"'></optgroup>");
						}
						var selected = ''
						previous_options_submissions.each(function(esi, each_selected_item){
							if ($(each_selected_item).attr("value") == i){ //{{#this will also work}}
								selected = 'selected="selected"';
							}
						});
						$("#"+optgroup_id).append("<option value='"+ i + "'" + selected + ">" + item['name'] + "</option>"); //{{#using names as values NOT safe! Use IDs instead}}
					});
				</script>
				{{bootstrap_multiselect([['auction_request_offer_options', 'Select options in this vehicle']], max_height=480)}}
				
				<div class="form-group">
					<label class="col-sm-3 control-label"><i class="fa fa-question-circle"  title="The total dollar value of ALL additional costs regarding this vehicle."></i> Additional costs</label>
					<div class="col-sm-9">
						{{=form.custom.widget.additional_costs}}

						{{if form.errors['additional_costs']:}}
							<div class="alert alert-warning">{{=form.errors['additional_costs']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label"><i class="fa fa-question-circle"  title="Are there any features we missed? Are there any extra fees? Describe them all here!"></i> Additional costs description</label>
					<div class="col-sm-9">
						{{=form.custom.widget.additional_costs_details}}

						{{if form.errors['additional_costs_details']:}}
							<div class="alert alert-warning">{{=form.errors['additional_costs_details']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label"><i class="fa fa-question-circle"  title="Only put info about this vehicle! Ex. Condition, miles, defects, additional features, etc."></i> Vehicle summary</label>
					<div class="col-sm-9">
						{{=form.custom.widget.summary}}

						{{if form.errors['summary']:}}
							<div class="alert alert-warning">{{=form.errors['summary']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Exterior image</label>
					<div class="col-sm-9">
						{{=form.custom.widget.exterior_image}}

						{{if form.errors['exterior_image']:}}
							<div class="alert alert-warning">{{=form.errors['exterior_image']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Interior image</label>
					<div class="col-sm-9">
						{{=form.custom.widget.interior_image}}

						{{if form.errors['interior_image']:}}
							<div class="alert alert-warning">{{=form.errors['interior_image']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Front image</label>
					<div class="col-sm-9">
						{{=form.custom.widget.front_image}}

						{{if form.errors['front_image']:}}
							<div class="alert alert-warning">{{=form.errors['front_image']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Rear image</label>
					<div class="col-sm-9">
						{{=form.custom.widget.rear_image}}

						{{if form.errors['rear_image']:}}
							<div class="alert alert-warning">{{=form.errors['rear_image']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Tire image</label>
					<div class="col-sm-9">
						{{=form.custom.widget.tire_image}}

						{{if form.errors['tire_image']:}}
							<div class="alert alert-warning">{{=form.errors['tire_image']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Dashboard image</label>
					<div class="col-sm-9">
						{{=form.custom.widget.dashboard_image}}

						{{if form.errors['dashboard_image']:}}
							<div class="alert alert-warning">{{=form.errors['dashboard_image']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Passenger image</label>
					<div class="col-sm-9">
						{{=form.custom.widget.passenger_image}}

						{{if form.errors['passenger_image']:}}
							<div class="alert alert-warning">{{=form.errors['passenger_image']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Trunk image</label>
					<div class="col-sm-9">
						{{=form.custom.widget.trunk_image}}

						{{if form.errors['trunk_image']:}}
							<div class="alert alert-warning">{{=form.errors['trunk_image']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Underhood image</label>
					<div class="col-sm-9">
						{{=form.custom.widget.underhood_image}}

						{{if form.errors['underhood_image']:}}
							<div class="alert alert-warning">{{=form.errors['underhood_image']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Roof image</label>
					<div class="col-sm-9">
						{{=form.custom.widget.roof_image}}

						{{if form.errors['roof_image']:}}
							<div class="alert alert-warning">{{=form.errors['roof_image']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Other image</label>
					<div class="col-sm-9">
						{{=form.custom.widget.other_image}}

						{{if form.errors['other_image']:}}
							<div class="alert alert-warning">{{=form.errors['other_image']}}</div>
						{{pass}}
					</div>
				</div>
				{{#=form.custom.submit}}
				<button id="fake_submit" type="button" class="btn btn-default pull-right">Submit</button>
				<script>
					$("#fake_submit").click(function(){
						var message = "{{=XML('''<p>You will now be charged <b>%s credits</b> <i>(auction fee)</i> to enter this auction. If you win this auction and the buyer initiates contact, you will be charged an additional <b>%s credits</b> <i>(success fee)</i>.</p> <h5 class='pull-right'>You have <b>%s credits remaining</b>.</h5>'''%(CREDITS_PER_AUCTION, CREDITS_PER_SUCCESS, my_piggy.credits) ) }}" <!--{{#MUST use XML() to style bootbox http://goo.gl/7OaP6m}}-->
						bootbox.confirm(message, function(agreed){
							if (agreed){
								$("form#pre_auction_form").trigger('submit'); //{{#needs id needs form befoe it to work}}
							}
						})
					});
				</script>
		{{=form.custom.end}}
	</div>
	<div class= "col-md-5 col-sm-4 hidden-xs" style="position:relative;">
		<div id="follow_me" style="position:fixed;">
			<h4>
				<span class="text-light">Retail estimate — </span class="pull-right"><span>$<span id='msrp'>{{="{:,}".format(int(msrp_by_id['base']))}}</span></span>{{#http://goo.gl/aOI4}}
			</h4>
			<hr>
			<div id="user_info_box" style="border: #ccc solid; border-radius:8px; height:240px;overflow-y:scroll;">
				<!--{{#<button class="btn btn-info" href="#info_modal" data-target="#info_modal" data-toggle="modal"><i class="fa fa-fw fa-user"></i>View buyer info</button>}}-->
				<pre>Details of {{=auction_request_info['first_name']}} {{=auction_request_info['last_init']}} from {{=auction_request_info['city']}}, {{=auction_request_info['state']}}, {{=auction_request_info['zip_code']}}</pre>
				<table class="table">
					<tr>
						<th style="border-top:none;">
							Entering
						</th>

						<td style="border-top:none;">
							<p>{{entered=auction_request_info['auction_requests_user_entered']}}{{=entered}}{{numero=str(entered)[-1]}}{{numeros=str(entered)[-2:]}}{{if numero == '1' and numeros != '11':}}st{{elif numero == '2' and numeros != '12':}}nd{{elif numero == '3' and numeros != '13':}}rd{{else:}}th{{pass}} auction</p>
						</td>
					</tr>
					
					<tr>
						<th>
							Color preferences:
						</th>
						<td>
							<h5><u>Interior:</u></h5>
							{{for each_color in auction_request_info['interior_colors']:}}
								<p>
									{{=BULLET}}{{=each_color[1]}}
								</p>
							{{pass}}
							<h5><u>Exterior:</u></h5>
							{{for each_color in auction_request_info['exterior_colors']:}}
								<p>
									{{=BULLET}}{{=each_color[1]}}
								</p>
							{{pass}}
							
						</td>
					</tr>
					
					<tr>
						<th>
							Option preferences:
						</th>

						<td>
							{{for each_category, options_data in categorized_options.items():}}
								{{if categorized_options[each_category] !=[] :}}
									<h5><u>{{=each_category}}:</u></h5> <!--{{#don't allow blanks}}-->
									{{for each_option in options_data:}}
										<p {{if each_option[3] and each_option[3]!="None":}}title="{{=each_option[3]}}"{{pass}} >
											{{=BULLET}}{{=each_option[1]}}
										</p>
									{{pass}}
								{{pass}}
							{{pass}}
						</td>
					</tr>

					<tr>
						<th>
							Credit score
						</th>

						<td>
							<p>
								{{credit_score=auction_request_info['auction_request']['FICO_credit_score']}}
								{{if credit_score:}}{{=credit_score}}{{else:}}Doesn't know or won't share.{{pass}}
							</p>
						</td>
					</tr>

					<tr>
						<th>
							Funding:
						</th>

						<td>
							<p>
								{{funding=auction_request_info['auction_request']['funding_source']}}
								{{=funding.capitalize()}}
							</p>
						</td>
					</tr>
				{{if funding in ['lease', 'loan']:}}
					<tr>
						<th>
							Expected down payment:
						</th>

						<td>
							<p>${{=auction_request_info['auction_request']['expected_down_payment']}}</p>
						</td>
					</tr>
				{{pass}}
				{{if funding == 'loan':}}
					<tr>
						<th>
							Financing:
						</th>

						<td>
							<p>{{=auction_request_info['auction_request']['financing']}}</p>
						</td>
					</tr>
				{{pass}}										
				{{if funding == 'lease':}}
					<tr>
						<th>
							Lease mileage:
						</th>

						<td>
							<p>{{=auction_request_info['auction_request']['lease_mileage']}} miles</p>
						</td>
					</tr>
					<tr>
						<th>
							Lease term:
						</th>

						<td>
							<p>{{=auction_request_info['auction_request']['lease_term']}}</p>
						</td>
					</tr>
				{{pass}}
					<tr>
						<th>
							Trading in:
						</th>

						<td>
							<p>
								{{trading=auction_request_info['auction_request']['trading_in']}}
								{{if trading:}}Yes{{else:}}No{{pass}}
							</p>
						</td>
					</tr>
				{{if trading:}}
					<tr>
						<th>
							Trade in description
						</th>

						<td>
							<p>{{=auction_request_info['auction_request']['describe_trade_in']}}</p>
						</td>
					</tr>
				{{pass}}
				</table>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function(){
	$(window).scroll(function(){
		if ($("#follow_me").offset().top + $("#follow_me").height() > ($("#mastfoot").offset().top) ) {
			$("#follow_me").fadeOut(100);
		} else {
			$("#follow_me").fadeIn(100);
		}
	});
});
</script><!-- {{#important to put in document ready because an element may not be yet defined in the DOM so an error will occur when trying to access that element}} -->

<script>
	var msrp_by_id = {{=XML(json.dumps(msrp_by_id))}}; //{{#ok to use name instead of id because there is no character limitations like at get url}}
	function update_estimation(){
		var msrp = msrp_by_id['base'];
		var msrp = msrp + msrp_by_id[$("#auction_request_offer_exterior_color").val()] + msrp_by_id[$("#auction_request_offer_interior_color").val()]; //{{#note val returns ids not names}}
		var list = $("li.active").map(function(){return $(this).children().children().children().attr('value') }); //{{#map runs a function on each element}} {{#tested with alert( $(this).children().children().children().attr('value') ) }}
		list.map( function(item, identifier) {
			msrp = msrp + msrp_by_id[parseInt(identifier)];
			//alert(identifier);
		});
		msrp = msrp + (Math.abs(parseInt($("#auction_request_offer_additional_costs").val() || 0)) || 0); //{{#((0 if blank) 0 if can't turn into int) #add the dealer-level fees}}
		$('#msrp').html(msrp.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")); //http://stackoverflow.com/questions/13621769/adding-comma-as-thousands-separator-javascript-output-being-deleted-instead
	}
	$("#auction_request_offer_exterior_color").change(update_estimation);
	$("#auction_request_offer_interior_color").change(update_estimation);
	$("#auction_request_offer_additional_costs").change(update_estimation);
	$("#auction_request_offer_options").change(update_estimation);
</script><!-- {{#http://goo.gl/IpBLpn http://goo.gl/cB089T http://goo.gl/IpBLpn http://goo.gl/WvuDbj http://goo.gl/HwI81Q}} -->