{{extend 'page_layout.html'}}
{{#=BEAUTIFY(response._vars)}}
{{#"""}}
<hr>
<h3>Submit your vehicle</h3>
<h4 class="text-light">{{="%s %s %s"%tuple(map(lambda each: each.upper(), [year, make, model]))}}</h4>
<span class="text-light text-md pull-right">{{=trim}}</span>
<hr>

<div class="row-fluid">
	<div class = "col-sm-8 col-xs-12">
	
		{{=form.custom.begin}}
				{{ form.element("input", _name = "vin_number")["_class"] += " form-control" }}
				{{# form.element("input", _name = "remember_data_for_30_days")["_class"] += " form-control" }}
				{{ form.element("select", _name = "color")["_class"] += " form-control" }}
				{{ form.element("select", _name = "interior_options")["_class"] += " form-control" }}
				{{ form.element("select", _name = "exterior_options")["_class"] += " form-control" }}
				{{ form.element("select", _name = "mechanical_options")["_class"] += " form-control" }}
				{{ form.element("select", _name = "package_options")["_class"] += " form-control" }}
				{{ form.element("select", _name = "safety_options")["_class"] += " form-control" }}
				{{ form.element("select", _name = "fees_options")["_class"] += " form-control" }}
				{{ form.element("textarea", _name = "summary")["_class"] += " form-control" }}
				{{ form.element("textarea", _name = "fineprint")["_class"] += " form-control" }}
				{{ form.element(_type="file", _name = "exterior_image")["_class"] += " form-control" }}
				{{ form.element(_type="file", _name = "interior_image")["_class"] += " form-control" }}
				{{ form.element(_type="file", _name = "front_image")["_class"] += " form-control" }}
				{{ form.element(_type="file", _name = "rear_image")["_class"] += " form-control" }}
				{{ form.element(_type="file", _name = "tire_image")["_class"] += " form-control" }}
				{{ form.element(_type="file", _name = "dashboard_image")["_class"] += " form-control" }}
				{{ form.element(_type="file", _name = "passenger_image")["_class"] += " form-control" }}
				{{ form.element(_type="file", _name = "trunk_image")["_class"] += " form-control" }}
				{{ form.element(_type="file", _name = "underhood_image")["_class"] += " form-control" }}
				{{ form.element(_type="file", _name = "roof_image")["_class"] += " form-control" }}
				{{ form.element(_type="file", _name = "other_image")["_class"] += " form-control" }}
				{{ form.element("input", _type = "submit")["_id"] = "submit" }}
				{{ form.element("input", _type = "submit")["_class"] = " btn  btn-default pull-right" }}
				
				<div class="form-group">
					<label class="col-sm-3 control-label">VIN number</label>
					<div class="col-sm-9">
						{{=form.custom.widget.vin_number}}

						{{if form.errors['vin_number']:}}
							<div class="alert alert-warning">{{=form.errors['vin_number']}}</div>
						{{pass}}
					</div>
				</div>
				{{"""}}
				<div class="form-group">
					<label class="col-sm-3 control-label">Remember for 45 days</label>
					<div class="col-sm-9">
						{{=form.custom.widget.remember_data_for_30_days}}

						{{if form.errors['remember_data_for_30_days']:}}
							<div class="alert alert-warning">{{=form.errors['remember_data_for_30_days']}}</div>
						{{pass}}
					</div>
				</div>
				{{"""}}
				<div class="form-group">
					<label class="col-sm-3 control-label">Color</label>
					<div class="col-sm-9">
						{{=form.custom.widget.color}}

						{{if form.errors['color']:}}
							<div class="alert alert-warning">{{=form.errors['color']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Interior options</label>
					<div class="col-sm-9">
						{{=form.custom.widget.interior_options}}

						{{if form.errors['interior_options']:}}
							<div class="alert alert-warning">{{=form.errors['interior_options']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Exterior options</label>
					<div class="col-sm-9">
						{{=form.custom.widget.exterior_options}}

						{{if form.errors['exterior_options']:}}
							<div class="alert alert-warning">{{=form.errors['exterior_options']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Mechanical options</label>
					<div class="col-sm-9">
						{{=form.custom.widget.mechanical_options}}

						{{if form.errors['mechanical_options']:}}
							<div class="alert alert-warning">{{=form.errors['mechanical_options']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Package options</label>
					<div class="col-sm-9">
						{{=form.custom.widget.package_options}}

						{{if form.errors['package_options']:}}
							<div class="alert alert-warning">{{=form.errors['package_options']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Safety</label>
					<div class="col-sm-9">
						{{=form.custom.widget.safety_options}}

						{{if form.errors['safety_options']:}}
							<div class="alert alert-warning">{{=form.errors['safety_options']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Fees</label>
					<div class="col-sm-9">
						{{=form.custom.widget.fees_options}}

						{{if form.errors['fees_options']:}}
							<div class="alert alert-warning">{{=form.errors['fees_options']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label"><i class="fa fa-question-circle" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Only put info about this vehicle! Ex. Condition, miles, defects, additional features, etc."></i> Summary</label>
					<div class="col-sm-9">
						{{=form.custom.widget.summary}}

						{{if form.errors['summary']:}}
							<div class="alert alert-warning">{{=form.errors['summary']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label"><i class="fa fa-question-circle" rel="tooltip" data-toggle="tooltip" data-placement="top" title="This is a good place to put information about additional fees, available upgrades and services, etc."></i> Additional info</label>
					<div class="col-sm-9">
						{{=form.custom.widget.fineprint}}

						{{if form.errors['fineprint']:}}
							<div class="alert alert-warning">{{=form.errors['fineprint']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Exterior image</label>
					<div class="col-sm-9">
						{{=form.custom.widget.exterior_image}}

						{{if form.errors['exterior_image']:}}
							<div class="alert alert-warning">{{=form.errors['exterior_image']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Interior image</label>
					<div class="col-sm-9">
						{{=form.custom.widget.interior_image}}

						{{if form.errors['interior_image']:}}
							<div class="alert alert-warning">{{=form.errors['interior_image']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Front image</label>
					<div class="col-sm-9">
						{{=form.custom.widget.front_image}}

						{{if form.errors['front_image']:}}
							<div class="alert alert-warning">{{=form.errors['front_image']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Rear image</label>
					<div class="col-sm-9">
						{{=form.custom.widget.rear_image}}

						{{if form.errors['rear_image']:}}
							<div class="alert alert-warning">{{=form.errors['rear_image']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Tire image</label>
					<div class="col-sm-9">
						{{=form.custom.widget.tire_image}}

						{{if form.errors['tire_image']:}}
							<div class="alert alert-warning">{{=form.errors['tire_image']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Dashboard image</label>
					<div class="col-sm-9">
						{{=form.custom.widget.dashboard_image}}

						{{if form.errors['dashboard_image']:}}
							<div class="alert alert-warning">{{=form.errors['dashboard_image']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Passenger image</label>
					<div class="col-sm-9">
						{{=form.custom.widget.passenger_image}}

						{{if form.errors['passenger_image']:}}
							<div class="alert alert-warning">{{=form.errors['passenger_image']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Trunk image</label>
					<div class="col-sm-9">
						{{=form.custom.widget.trunk_image}}

						{{if form.errors['trunk_image']:}}
							<div class="alert alert-warning">{{=form.errors['trunk_image']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Underhood image</label>
					<div class="col-sm-9">
						{{=form.custom.widget.underhood_image}}

						{{if form.errors['underhood_image']:}}
							<div class="alert alert-warning">{{=form.errors['underhood_image']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Roof image</label>
					<div class="col-sm-9">
						{{=form.custom.widget.roof_image}}

						{{if form.errors['roof_image']:}}
							<div class="alert alert-warning">{{=form.errors['roof_image']}}</div>
						{{pass}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Other image</label>
					<div class="col-sm-9">
						{{=form.custom.widget.other_image}}

						{{if form.errors['other_image']:}}
							<div class="alert alert-warning">{{=form.errors['other_image']}}</div>
						{{pass}}
					</div>
				</div>
				{{=form.custom.submit}}
		{{=form.custom.end}}
	</div>
	<div class= "col-sm-4 hidden-xs">
		<div style="position:fixed;">
			<button class="btn btn-info" href="#info_modal" data-target="#info_modal" data-toggle="modal"><i class="fa fa-fw fa-user"></i>View buyer info</button>
			<br><br>
			<h4>
				Estimated MSRP:
			</h4>
			<h3>
				<span class="text-success">$</span><span class="pull-right" id='msrp'>{{="{:,}".format(int(msrp_by_id['base']))}}</span>{{#http://goo.gl/aOI4}}
			</h3>
		</div>
	</div>
</div>
<div class="modal fade" id="info_modal">
	<div class="modal-dialog">
		<div class="modal-content" style="background-color:rgba(246,246,246,0.9);">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Information about {{=auction_request_info['first_name'].capitalize()}} {{=auction_request_info['last_init'].capitalize()}}</h4>
			</div>
			<div class="modal-body" style="max-height:480px;overflow-y:auto;">
				<table class="table">
					<tr>
						<th style="border-top:none;">
							Entering
						</th>

						<td style="border-top:none;">
							{{entered=auction_request_info['auction_requests_user_entered']}}{{=entered}}{{numero=str(entered)[-1]}}{{numeros=str(entered)[-2:]}}{{if numero == '1' and numeros != '11':}}st{{elif numero == '2' and numeros != '12':}}nd{{elif numero == '3' and numeros != '13':}}rd{{else:}}th{{pass}} auction
						</td>
					</tr>
					
					<tr>
						<th>
							Color choices:
						</th>
						<td>
							<ul>
								{{for each_color_name in auction_request_info['auction_request'].color_names:}}
									<li>
										{{=each_color_name}}
									</li>
								{{pass}}
							</ul>
						</td>
					</tr>
					
					<tr>
						<th>
							Must haves 
						</th>

						<td>
							<ul>
								{{option_names = ['Interior','Exterior','Mechanical','Package', 'Safety']}}
								{{request_trim_data = json.loads(auction_request_info['auction_request'].trim_data)}}
								{{must_haves = auction_request_info['auction_request'].must_haves}}
								{{if must_haves:}}
									{{for each_option in must_haves:}}
										{{has_option_data = False}}
										{{for each_option_type in option_names:}}
											{{if not has_option_data:}}
												{{has_option_data = getOption(request_trim_data, each_option_type, each_option)}}
												{{if has_option_data:}}
													<li>{{=has_option_data['name']}}</li>
												{{pass}}
											{{pass}}{{#cannot break nested loops so use boolean method http://goo.gl/K8iwMT}}
										{{pass}}
										{{if not has_option_data:}}
											</li>{{=each_option}}</li> {{#then just show the id number}}
										{{pass}}
									{{pass}}
								{{else:}}<li>No preference</li>
								{{pass}}
							</ul>
						</td>
					</tr>
					
					<tr>
						<th>
							Credit score
						</th>

						<td>
							{{credit_score=auction_request_info['auction_request']['FICO_credit_score']}}
							{{if credit_score:}}{{=credit_score}}{{else:}}Doesn't know or won't share.{{pass}}
						</td>
					</tr>

					<tr>
						<th>
							Funding:
						</th>

						<td>
							{{funding=auction_request_info['auction_request']['funding_source']}}
							{{=funding.capitalize()}}
						</td>
					</tr>
				{{if funding in ['lease', 'loan']:}}
					<tr>
						<th>
							Expected down payment:
						</th>

						<td>
							${{=auction_request_info['auction_request']['expected_down_payment']}}
						</td>
					</tr>
				{{pass}}
				{{if funding == 'loan':}}
					<tr>
						<th>
							Financing:
						</th>

						<td>
							{{=auction_request_info['auction_request']['financing']}}
						</td>
					</tr>
				{{pass}}										
				{{if funding == 'lease':}}
					<tr>
						<th>
							Lease mileage:
						</th>

						<td>
							{{=auction_request_info['auction_request']['lease_mileage']}} miles
						</td>
					</tr>
					<tr>
						<th>
							Lease term:
						</th>

						<td>
							{{=auction_request_info['auction_request']['lease_term']}}
						</td>
					</tr>
				{{pass}}
					<tr>
						<th>
							Trading in:
						</th>

						<td>
							{{trading=auction_request_info['auction_request']['trading_in']}}
							{{if trading:}}Yes{{else:}}No{{pass}}
						</td>
					</tr>
				{{if trading:}}
					<tr>
						<th>
							Trade in description
						</th>

						<td>
							{{=auction_request_info['auction_request']['describe_trade_in']}}
						</td>
					</tr>
				{{pass}}
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{{#=BEAUTIFY(options)}}
{{#'''}}
<script>
	{{offer_types = ['interior','exterior','mechanical','package','fees','safety']}}
	{{for each_offer_type in offer_types:}}
		$("#auction_request_offer_{{=each_offer_type}}_options").multiSelect('refresh'); //initialize multiselect
	{{pass}}

	var msrp_by_id = {{=XML(json.dumps(msrp_by_id))}}; {{#ok to use name instead of id because there is no character limitations like at get url}}
	$('.ms-container').click(function(){
		var msrp = msrp_by_id['base'];
		var list = $(".ms-selected").map(function(){return $(this).children().text();}).get(); {{#map runs a function on each element}}
		list.map( function(item) {
			msrp = msrp + msrp_by_id[item];
		});
		$('#msrp').html(msrp);
	});
</script>{{#http://goo.gl/IpBLpn http://goo.gl/cB089T http://goo.gl/IpBLpn http://goo.gl/WvuDbj http://goo.gl/HwI81Q}}
{{#"""}}