<!-- winning certificate -->
{{extend 'page_layout.html'}}
<div class="row">
    <div class="col-xs-6">
        <h1>Congratulations</h1>
    </div>

    <div class="col-xs-6">
    	<img src="https://api.qrserver.com/v1/create-qr-code/?size=100x100&data={{='test_hash'}}" alt="Winning QR Code" class="img-responsive pull-right">
    </div>

    <div class="col-xs-6">
    	<img src="http://maps.googleapis.com/maps/api/staticmap?center=-15.800513,-47.91378&zoom=12&size=600x450&sensor=false" alt="Dealer Map" class="img-responsive">
    </div>

    <div class="col-xs-6">
        <table class="table table-hover">
            <tr>
                <th>Hash:</th>
                <td>$hash</td>
            </tr>

            <tr>
                <th>Auction ID:</th>
                <td>$auction_id</td>
            </tr>

            <tr>
                <th>Car Details:</th>
                <td>
                    <ul>
                        <li>$spec_1</li>
                        <li>$spec_2</li>
                        <li>$spec_3</li>
                    </ul>
                </td>
            </tr>

            <tr>
                <th>Address:</th>
                <td>
                	<div>$addr_1</div>
                	<div>$addr_2</div>
                	<div>$city, $state, $zip</div>
                </td>
            </tr>            

        </table>
    </div>

    <div class="col-xs-12" style="margin-top: 20px">
    	<strong>You must bring</strong> the confirmation page and the following document(s) with you at all steps during the application process
    </div>

</div>