<!-- winning certificate -->
{{extend 'page_layout.html'}}

<div id="certificate" class="row">
    <div class="col-xs-6">
        <h1><i class="fa fa-certificate fa-fw text-warning"></i> Congratulations</h1>
    </div>

    <div class="col-xs-6">
    	<img src="https://api.qrserver.com/v1/create-qr-code/?size=100x100&data={{=hashed_id}}" alt="Winning QR Code" class="img-responsive pull-right">
    </div>

    <div class="col-xs-6">
    	<img src="http://maps.googleapis.com/maps/api/staticmap?center=-15.800513,-47.91378&zoom=12&size=600x450&sensor=false" alt="Dealer Map" class="img-responsive">
    </div>

    <div class="col-xs-6">
        <table class="table table-hover">
            <tr>
                <th>Hash:</th>
                <td>{{=hashed_id}}</td>
            </tr>

            <tr>
                <th>Auction ID:</th>
                <td>$auction_id</td>
            </tr>

            <tr>
                <th>Car Details:</th>
                <td>
                    <ul>
                        <li>$spec_1</li>
                        <li>$spec_2</li>
                        <li>$spec_3</li>
                        <li>$spec_4</li>
                    </ul>
                </td>
            </tr>

            <tr>
                <th>Address:</th>
                <td>
                	<div>$name</div>
                	<div>$addr_1</div>
                	<div>$addr_2</div>
                	<div>$city, $state, $zip</div>
                	<div>$country</div>
                </td>
            </tr>            

        </table>
    </div>

    <div class="col-xs-12" style="margin-top: 20px">
    	<strong>You must bring</strong> the confirmation page and the following document(s) with you at all steps during the application process
    	<ul>
			<li>Drivers license</li>
			<li>Vehicle title</li>
			<li>Insurance</li>
			<li>Credit card bill or bank statement</li>
			<li>Lease papers (if any)</li>
		</ul>
    </div>

</div>

<div id="myModal" class="modal fade">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="modal-dialog">
    <div class="modal-content" style="background-color:rgba(246,246,246,0.8);">
      <div class="modal-header">
        {{#<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>}}
        <h4 class="modal-title"><i class="fa fa-certificate fa-fw text-warning"></i> Confirmation</h4>
      </div>
      <div class="modal-body">
        <div style="text-align:center;">
			<h3>Call us at <span class="text-info">1-800-BIDDRIVE</span> to reveal your {{=APP_NAME}} certificate of guarantee.</h3>
			<button id="refresh_certificate" type="button" class="btn btn-default btn-lg">
				<span class="glyphicon glyphicon-refresh"></span> Refresh
			</button>
			<script type="text/javascript">
				$('#refresh_certificate').click(function() {
					location.reload();
				});
			</script>
		</div>
	  </div>
      <div class="modal-footer">
        <div class="text-danger">Winner code: <strong>{{=hashed_id}}</strong> (write it down)</div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
	$('#myModal').modal({backdrop:'static',keyboard:false, show:true}); {{#http://goo.gl/HAohdA}}
	$('#certificate').css({
		'-webkit-filter': 'blur(5px)',
		'-moz-filter': 'blur(5px)',
		'-o-filter': 'blur(5px)',
		'-ms-filter': 'blur(5px)',
		'filter': 'blur(5px)',
	});
    $('.modal').modal('show');
</script>