*  {
	margin:0;
	padding:0;
	}
html, body {
height:100%;
background-color:#f1f6f2;
min-width:1020px;
	}
.geral {
	min-height:100%;
	position:relative;
	width:100%;
	}
#font1,.font1{
	font-weight:bold;
	font-size:14px;
	font-family:Georgia,Palatino,"Palatino Linotype",Times,"Times New Roman",serif;
	font-style:italic;
	line-height:19px;
	color:#1B211F;
	text-shadow:0 1px 0 #778E88;
	}

 
/************************************   HEADER   ************************************/
.headerExt{
	top:0;
	width:100%;
	height:130px;
	margin:0px auto;
	background-image:url(../img/fund-02.png);
	background-repeat:repeat-x;
	background-position:0px -57px;
        z-index:99;
	position:fixed;
	}
.headerInt{
	position:relative;
	width:982px;
	height:130px;
	margin:0px auto 0px auto;
	}
.boxLogin{
	float:right;
	margin:8px 50px 0px 0px;
	}
.logo{
	position:absolute;	
	background-image:url(../img/logo.png);
	background-position:16px  2px 0px 0px;
	background-repeat:no-repeat;
	width:250px;
	height:100px;
	top:4px;
	left:45px;
	}
/**************************************************************************************/
 
.content {
	width:982px;
	margin:0 auto;
	overflow:hidden;
	padding-bottom:100px;
	padding-top:130px;
        	
	}
	
/*********************************** RODAPE ********************************************/

.rodapeExt{
	background-image:url(../img/fund-02.png); 
	background-repeat:repeat-x ;
	background-position:0px -6px;
	height:100px;
	position:absolute;
	bottom:0;
	width:100%;
	overflow:hidden;

	}
	
.rodapeInt{
	position:relative;
	width:982px;
	height:70px;
	margin:30px auto 0 auto;
	}		
.BoxRodape1{
	position:absolute;
	bottom:0px;
	left:20px;
	top:3px;
	}
.BoxRodape2{
	position:absolute;
	left:130px;
	top:3px;
	}
.BoxRodape3{
	position:absolute;
	right:0px;
	top:2px;
	}	
a.BoxRodape4{
	background-image:url(../img/1283522094_email.png);
	background-position:center;
	background-repeat:no-repeat;
	position:absolute;
	left:32px;
	top:36px;
	width:40px;
	height:32px;
	}	
a.BoxRodape5{
	background-image:url(../img/1283522082_phone.png);
	background-position:center;
	background-repeat:no-repeat;
	position:absolute;
	left:131px;
	top:32px;
	width:40px;
	height:32px;
	}	
.BoxRodape6{
    background-image:url(../img/Selo3.png);
	background-position:center;
	background-repeat:no-repeat;
	position:absolute;
	left:840px;
	top:24px;
	width:135px;
	height:44px;s
	}
.BoxRodape7{
	position:absolute;
	left:745px;
	top:45px;
	width:115px;
	height:24px;
	font-weight:bold;
	font-size:18px;
	font-family:Georgia,Palatino,"Palatino Linotype",Times,"Times New Roman",serif;
	font-style:italic;
	line-height:19px;
	color:#1B211F;
	text-shadow:0 1px 0 #778E88;
	}
/***************************************************************************************/	

/************************************    LINKS   ***************************************/
a.login{
	font-weight:bold;
	font-size:14px;
	font-family:Georgia,Palatino,"Palatino Linotype",Times,"Times New Roman",serif;
	font-style:italic;
	line-height:19px;
	color:#1B211F;
	text-shadow:0 1px 0 #778E88;
	text-decoration:none;
	}
a.login:hover{
	color:#a7b6b5;
	text-shadow:0 1px 0 #000;
	}	
a.login:visited{
	color:#1B211F;
	text-shadow:0 1px 0 #778E88;
	}	
/****************************************************************************************/	
	
/*********************************** BOTAO DOWNLOAD  ********************************************/
.boxBtDownload{
	width:295px;
	height:85px;
	float:right;
	position:relative;    
        margin:10px; 
        z-index:0;

	}
#textBtDownload1{
	font-weight:bold;
	font-size:24px;
	font-family:Georgia,Palatino,"Palatino Linotype",Times,"Times New Roman",serif;
	font-style:italic;
	line-height:19px;
	color:#1B211F;
	text-shadow:0 2px 0 #b5b5b5;
	text-decoration:none;
	position:absolute;
	left:50px;
	top:13px;
    }
	#textBtDownload2{
	font-weight:bold;
	font-size:12px;
	font-family:Georgia,Palatino,"Palatino Linotype",Times,"Times New Roman",serif;
	font-style:italic;
	line-height:19px;
    color:#b5b5b5;
	text-shadow:0 1px 0 #000;
	text-decoration:none;
	position:absolute;
	left:28px;
	top:34px;
    }	
a.btDownload{
	background-image:url(../img/BotaoDownload.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
	width:310px;
	height:60px;
	position:absolute;
	left:9px;
	top:12px;
	text-decoration:none;
	}
a.btDownload:hover{
		background-position:0px -61px;
		text-decoration:none;
	}	
	

/**************************************************************************************/

.downloadb  li a {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:3px;
-moz-border-radius-bottomright:3px;
-moz-border-radius-topleft:3px;
-moz-border-radius-topright:3px;
background:#4F843C url(../img/download.png) no-repeat scroll right center;
border:1px solid #4F843C;
color:#FFFFFF;
display:block;
font-size:93%;
margin:0;
padding:6% 40px 6% 6%;
line-height: 16px;
}
.downloadb li {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
width: 200px;
height: 50px;
}
