<!DOCTYPE html>
{{#ISSUESZAKI the site doesn't work well on smaller devices. Try to make it responsive.}}
<html>
<head>
    <title>{{=APP_NAME}} {{=request.function.replace('_',' ').capitalize()}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Styles -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="{{=URL('static', 'css/carbid.css')}}" type="text/css" />
	<link rel="stylesheet" href="{{=URL('static', 'css/_custom.css')}}" type="text/css" />

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />

    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.0.0/animate.min.css" media="screen, projection" />

    <script src="http://code.jquery.com/jquery-latest.js"></script>
	
	<script src="{{=URL('static','js/jquery.maskedinput.min.js')}}"  type="text/javascript"></script>{{#http://bit.ly/1ck85cy}}

    <link rel="stylesheet" type="text/css" href="{{=URL('static','css/multi-select.css')}}"> {{#http://bit.ly/OOENrP}}
    <script src="{{=URL('static','js/jquery.multi-select.js')}}"  type="text/javascript"></script>
    <script src="{{=URL('static','js/jcfilter.min.js')}}"  type="text/javascript"></script>{{#http://goo.gl/LYpoNj}}

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="pull_top">
    
    <div class="navbar navbar-inverse navbar-fixed-top {{ if request.function == "index": }} navbar-homepage {{pass}}" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{=URL('default','index')}}" class="navbar-brand">
                    <strong style="text-shadow: 1px 1px 1px #000; margin-top: -10px">{{=APP_NAME}}</strong>
                    <div class="clearfix"></div>
                    <small style="font-size: 12px">Save Time. Save Money.</small>
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right">
					{{for each_item in response.menu:}}
						{{if len(each_item) == 4:}} {{#if/then fix for appadmin as menu items provided by appadmin controller are of different lengths than that of menu.py}}
							{{sub_items = each_item[3]}}
							<li {{if sub_items:}}class="dropdown"{{pass}}>
								<a href="{{=each_item[2]}}" {{if sub_items:}}class="dropdown-toggle" data-toggle="dropdown"{{pass}}>{{=each_item[0]}}{{if sub_items:}} <b class="caret"></b>{{pass}}</a>
								{{if sub_items:}}
									<ul class="dropdown-menu">
										{{for each_sub_item in sub_items:}}
											<li><a href="{{=each_sub_item[2]}}">{{=each_sub_item[0]}}</a></li>
										{{pass}}
									</ul>
								{{pass}}
							</li>
						{{else:}}
							<li><a href="{{=each_item[2]}}">{{=each_item[0]}}</a></li>
						{{pass}}
					{{pass}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-sign-in"></i> {{if auth.is_logged_in():}}Hello, {{=auth.user.first_name.capitalize()}}!{{else:}}Sign in{{pass}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
							{{auth_next=dict(_next = '/%s/%s/%s'%(request.application, request.controller, request.function))}}
                            <li><a href="{{=URL('default', 'user', args=['profile' if auth.is_logged_in() else 'register'], vars=auth_next)}}"><i class="fa fa-user"></i> {{if auth.is_logged_in():}}Profile{{else:}}Register{{pass}}</a></li>
                            <li><a href="{{=URL('default', 'user', args=['change_password' if auth.is_logged_in() else 'request_reset_password'], vars=auth_next)}}"><i class="fa fa-lock"></i> {{if auth.is_logged_in():}}Password{{else:}}Lost password?{{pass}}</a></li>
							<li class="divider"></li>
							{{if auth.is_logged_in():}}
								<li><a href="{{=URL('default', 'user', args=['logout'])}}"><i class="fa fa-power-off"></i> Log out</a></li>
							{{else:}}
								<li><a href="{{=URL('default', 'user', args=['login'], vars=auth_next)}}"><i class="fa fa-key"></i> Log in</a></li>
							{{pass}}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
		{{alert_headers = [response.flash, session.flash]}}
		{{alert_headers=['testing',None]}}
		{{for each in alert_headers:}}
			{{if each:}}
				{{if each[:1] == "$":}} {{#if first letter dollar sign then activate success div}}
					<div class="alert_headers alert alert-success">{{=each[1:]}} {{# "$"}}
				{{elif each[:1] == "!":}}
					<div class="alert_headers alert alert-warning">{{=each[1:]}} {{# "!"}}
				{{elif each[:1] == "@":}}
					<div class="alert_headers alert alert-danger">{{=each[1:]}} {{# "@"}}
				{{else:}}
					<div class="alert_headers alert alert-info" style="position:fixed;right:5%;z-index:9999;width:25%;">{{=each}} {{# "%"}}
				{{pass}}
				<i class="fa fa-times-circle-o pull-right"></i>
				</div>
			{{pass}}
		{{pass}}
		{{response.flash = session.flash = None}}
		<script>
			$('.alert_headers').css({
				'position':'fixed',
				'right':'10px',
				'top': '75px',
				'z-index':9999,
				'width':'333px',
			});
			$('.alert_headers').hide();
			$('.alert_headers').slideDown();
			$('.alert_headers').click(function(){
				$(this).slideUp();
			});
		</script>
	
        {{include}}

    <!-- starts footer -->
    <footer id="footer"> {{#ISSUESZAKI the footer needs a powered by edmunds logo in the footer. Check 5874 and below of default branch to find it.}}
        <div class="container">
            <div class="row sections">
                <div class="col-sm-4 recent_posts">
                    <h3 class="footer_header">
                        Site Links
                    </h3>

                    <div class="site-links">
                        Site Map
                    </div>

                    <div class="site-links">
                        <a href="{{=URL('default', 'faq')}}">Frequently Asked Questions</a>
                    </div>

                    <div class="site-links">
                        Privacy Policy
                    </div>
                    
                    <div class="site-links">
                        Terms of Use
                    </div>

                    <div class="site-links">
                        Contact Us
                    </div>

                </div>
                <div class="col-sm-4 testimonials">
                    <h3 class="footer_header">
                        Testimonials
                    </h3>
                    <div class="wrapper">
                        <div class="quote">
                            <i class="fa fa-quote-left"></i>
                            {{=APP_NAME}} is so easy to use.
                            <div class="clearfix"></div>
                            <div class="pull-right">- Barret</div>
                        </div>

                        <div class="quote" style="margin-top: 40px;">
                            <i class="fa fa-quote-left"></i>
                            You saved me over $5000! Thanks!
                            <div class="clearfix"></div>
                            <div class="pull-right">- Christy</div>
                        </div>                        

                        <div class="quote" style="margin-top: 40px;">
                            <i class="fa fa-quote-left"></i>
                            My sales are up 30% this year!
                            <div class="clearfix"></div>
                            <div class="pull-right">- Robert</div>
                        </div>  
						
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3 class="footer_header">
                        Social
                    </h3>
                    
                    <div>
                        <div class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse" style="color: #000"></i>
                        </div>

                        <div class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse" style="color: #000"></i>
                        </div>

                        <div class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-pinterest fa-stack-1x fa-inverse" style="color: #000"></i>
                        </div>

                        <div class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-linkedin fa-stack-1x fa-inverse" style="color: #000"></i>
                        </div>

                        <div class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-tumblr fa-stack-1x fa-inverse" style="color: #000"></i>
                        </div>                        
                    </div>
                </div>
            </div>

        </div>
    </footer>

    <!-- Scripts -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="{{=URL('static', 'js/carbid.js')}}"></script>

</body>
</html>