<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{=APP_NAME}} {{if response.title:}}{{=response.title}}{{else:}}{{=request.function.replace('_',' ').capitalize()}}{{pass}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="aaa">
    <meta name="google-site-verification" content="24LLTceTLyCoSLg5XrgKhz2udcpXFx2Ka6nThOfxP_Y" />

    <!-- Standard Favicon-->
    <link rel="shortcut icon" href="{{=URL('static','trinity/assets/images/favicon/favicon.ico')}}">

    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="{{=URL('static','trinity/assets/images/touchicon/apple-touch-icon-57-precomposed')}}" />
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="{{=URL('static','trinity/assets/images/touchicon/apple-touch-icon-114-precomposed')}}" />
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="{{=URL('static','trinity/assets/images/touchicon/apple-touch-icon-72-precomposed')}}" />
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="{{=URL('static','trinity/assets/images/touchicon/apple-touch-icon-144-precomposed')}}" />

    <!-- Bootstrap CSS Files -->
    <link href="{{=URL('static','trinity/assets/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
	
	{{#<!--moving jquery here fixes the "Uncaught ReferenceError: $ is not defined" error... this is probably due to $(document).ready() calls before jquery was loaded-->}}
	<script src="{{=URL('static','trinity/assets/bootstrap/js/jquery.min.js')}}"></script>
	{{#<!--still need these until redesign-->}}
	<link rel="stylesheet" type="text/css" href="{{=URL('static','css/multi-select.css')}}"> {{#http://bit.ly/OOENrP}}
	<script src="{{=URL('static','js/jquery.multi-select.js')}}"  type="text/javascript"></script>
	<link rel="stylesheet" href="{{=URL('static', 'css/_custom.css')}}" type="text/css" />

    <!-- from old layout -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.0.0/animate.min.css" media="screen, projection" />
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <!-- Custom Fonts Setup via Font-face CSS3 -->
    <link href="{{=URL('static','trinity/assets/fonts/fonts.css')}}" rel="stylesheet">
    <!-- CSS files for plugins -->
    <link href="{{=URL('static','trinity/assets/stylesheets/owl.carousel.css')}}" rel="stylesheet">
    <link href="{{=URL('static','trinity/assets/stylesheets/owl.theme.css')}}" rel="stylesheet">
    <link href="{{=URL('static','trinity/assets/stylesheets/venobox.css')}}" rel="stylesheet" />
    <link href="{{=URL('static','trinity/assets/stylesheets/animate.css')}}" rel="stylesheet">
    <link href="{{=URL('static','trinity/assets/stylesheets/jquery.tweet.css')}}" rel="stylesheet"/>
    <link href="{{=URL('static','trinity/assets/stylesheets/slidingmenu.css')}}" rel="stylesheet">
    <link href="{{=URL('static','trinity/assets/stylesheets/jquery.bxslider.css')}}" rel="stylesheet" />
    <link href="{{=URL('static','trinity/assets/stylesheets/venobox.css')}}" rel="stylesheet" />
    <link href="{{=URL('static','trinity/assets/stylesheets/animate.css')}}" rel="stylesheet">
    <link href="{{=URL('static','trinity/assets/stylesheets/portfolio.css')}}" rel="stylesheet" />
    <link href="{{=URL('static','trinity/assets/stylesheets/overlay.css')}}" rel="stylesheet">
    <link href="{{=URL('static','trinity/assets/stylesheets/toppanel.css')}}" rel="stylesheet">
    <link href="{{=URL('static','trinity/assets/stylesheets/intro.css')}}" rel="stylesheet">
    <!-- Main Template Styles -->
    <link href="{{=URL('static','trinity/assets/stylesheets/main.css')}}" rel="stylesheet">
    <!-- Main Template Responsive Styles -->
    <link href="{{=URL('static','trinity/assets/stylesheets/main-responsive.css')}}" rel="stylesheet">
    <!-- Main Template Retina Optimizaton Rules -->
    <link href="{{=URL('static','trinity/assets/stylesheets/main-retina.css')}}" rel="stylesheet">
    <link href="{{=URL('static','trinity/assets/stylesheets/color.css')}}" rel="stylesheet">
    <!-- Google Web Fonts-->
    <link href='//fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900%7COpen+Sans:300,400,700,800%7CMontserrat:400,700%7CDays+One:400' rel='stylesheet' type='text/css'>

    <!-- customizations -->
    <link href="{{=URL('static','trinity/assets/stylesheets/custom.css')}}" rel="stylesheet">

	<style> {{#Alex please move this change to the css file thanks -Himel}}
		.portfolio-item:hover .project-overlay {
			opacity: .8;
		}
	</style>
	
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{=URL('static','trinity/assets/bootstrap/js/html5shiv.js')}}"></script>
    <script src="{{=URL('static','trinity/assets/bootstrap/js/respond.min.js')}}"></script>
    <![endif]-->

</head>
<body>

{{include "trinity/site-nav.html"}}

<!-- Master Wrap : starts -->
<section id="mastwrap" class="">

    {{include}}

</section>

<!-- Master Wrap : ends -->
{{include "trinity/site-footer.html"}}

<!-- Google Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-57614550-1', 'auto');
    ga('send', 'pageview');

</script>
<!-- End Google Analytics -->

<!-- Core JS Libraries -->
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="{{=URL('static','trinity/assets/javascripts/jquery.easing.1.3.js')}}"></script>
<script src="{{=URL('static','trinity/assets/bootstrap/js/bootstrap.min.js')}}" ></script>
<!-- JS Plugins -->
<script src="{{=URL('static','trinity/assets/javascripts/retina.js')}}" ></script>
<script src="{{=URL('static','trinity/assets/javascripts/device.min.js')}}"></script>
<script src="{{=URL('static','trinity/assets/javascripts/classie.js')}}" ></script>
<script src="{{=URL('static','trinity/assets/javascripts/jquery.touchSwipe.js')}}"></script>
<script src="{{=URL('static','trinity/assets/javascripts/waypoints.min.js')}}" ></script>
<script src="{{=URL('static','trinity/assets/javascripts/appear.js')}}"></script>
<script src="{{=URL('static','trinity/assets/javascripts/smooth-scroll.js')}}" ></script>
<script src="{{=URL('static','trinity/assets/javascripts/slidingmenu.js')}}" ></script>
<script src="{{=URL('static','trinity/assets/javascripts/jquery.tweet.js')}}"></script>
<script src="{{=URL('static','trinity/assets/javascripts/owl.carousel.js')}}"></script>
<script src="{{=URL('static','trinity/assets/javascripts/venobox.min.js')}}"></script>
<script src="{{=URL('static','trinity/assets/javascripts/jquery.bxslider.min.js')}}"></script>
<script src="{{=URL('static','trinity/assets/javascripts/jquery.cycle.all.js')}}"></script>
<script src="{{=URL('static','trinity/assets/javascripts/jquery.maximage.js')}}"></script>
<script src="{{=URL('static','trinity/assets/javascripts/isotope.js')}}"></script>
<script src="{{=URL('static','trinity/assets/javascripts/jquery.backstretch.min.js')}}"></script>
<script src="{{=URL('static','trinity/assets/javascripts/jquery.parallax-1.1.3.js')}}"></script>
<!-- JS Custom Codes -->
<script src="{{=URL('static','trinity/assets/javascripts/parallax-init.js')}}" ></script>
<script src="{{=URL('static','trinity/assets/javascripts/animations-init.js')}}"></script>
<script src="{{=URL('static','trinity/assets/javascripts/portfolio-engine.js')}}" ></script>
<script src="{{=URL('static','trinity/assets/javascripts/form-validation.js')}}" ></script>
<script src="{{=URL('static','trinity/assets/javascripts/main.js')}}" ></script>
<script src="{{=URL('static','js/custom.js')}}" ></script>

{{#enable prettier jquery UI tooltips}}
<script>
    $(function () {
        $(document).tooltip();
    });
</script>

{{block message_scripts}}
{{end}}

{{block page_scripts}}
{{end}}

</body>
</html>