{{extend 'layout.html'}}
{{show_progress_bar = False}}
{{icon_1_name = "Select"}}
{{bold_inactive=["ccc","text-muted", False]}}
{{icon_1_bold = bold_active=["000","", True]}}
{{icon_2_bold = icon_3_bold = bold_inactive}}
{{if request.controller in ['default', 'dealer'] and request.function in ['pre_auction', 'auction', 'request_by_make']:}}
	{{show_progress_bar = True}}
	{{if request.function in ['auction']:}}
		{{if a_winning_offer:}}
			{{icon_3_bold = bold_active}}
			{{icon_1_bold = icon_2_bold = bold_inactive}}
		{{else:}}
			{{icon_2_bold = bold_active}}
			{{icon_1_bold = icon_3_bold = bold_inactive}}
		{{pass}}
	{{pass}}
	{{if auth.has_membership(user_id = auth.user_id, role = "dealers"):}}
		{{icon_1_name = "Submit"}}
	{{pass}}
{{pass}}

    <div class="container" style="margin-top:75px"> {{#originally 100px}}
	{{if show_progress_bar:}}
		<!-- progress -->
		<div class="row text-center" style="margin-bottom:25px;">
			<div class="col-xs-2 col-xs-offset-1 text-center {{=icon_1_bold[1]}}">
				<div class="center-block" style="border-radius: 50%; border: 4px solid #{{=icon_1_bold[0]}}; padding: 10px; width: 60px; height: 60px">
					<i class="fa fa-car fa-2x" style="color:#32bec0"></i>
					<small style="text-transform: uppercase; display:block; margin-top: 15px; margin-left:0px;"><font size="1em">{{=icon_1_name}}</font></small>
				</div> 
			</div>
			<div class="col-xs-2 {{=icon_1_bold[1]}}">
				<i class="fa fa-long-arrow-right fa-3x" style="margin-top: 17px; border-color: #ccc;"></i>
			</div>

			<div class="col-xs-2 text-center {{=icon_2_bold[1]}}">
				<div class="center-block" style="border-radius: 50%; border: 4px solid #{{=icon_2_bold[0]}}; padding: 12px; width: 60px; height: 60px">
					<i class="fa fa-legal fa-2x" style="color:#32bec0"></i>
					<small style="text-transform: uppercase; display:block; margin-top: 15px; margin-left:-6px;"><font size="1em">Auction</font></small>
				</div>
			</div>
			<div class="col-xs-2 {{=icon_2_bold[1]}}">
				<i class="fa fa-long-arrow-right fa-3x" style="margin-top: 17px; border-color: #ccc;"></i>
			</div>

			<div class="col-xs-2 text-center {{=icon_3_bold[1]}}">
				<div class="center-block" style="border-radius: 50%; border: 4px solid #{{=icon_3_bold[0]}}; padding: 13px; width: 60px; height: 60px" align="center">
					<i class="fa fa-phone fa-2x" style="color:#32bec0"></i>
					<small style="text-transform: uppercase; display:block; margin-top: 15px; margin-left:-9px;"><font size="1em">Connect</font></small>
				</div>
			</div>
		</div>
		<!-- / -->
	{{pass}}
		{{include 'message_divs.html'}}
        {{include}}
    </div>